// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2023.1.0.43.3
// Netlist written on Mon Dec  4 14:13:38 2023
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.v"
// file 1 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.vhd"
// file 2 "z:/es4-final/collisions_and_rotations/mypll/rtl/mypll.v"
// file 3 "z:/es4-final/collisions_and_rotations/source/impl_1/clock.vhd"
// file 4 "z:/es4-final/collisions_and_rotations/source/impl_1/collision_check.vhd"
// file 5 "z:/es4-final/collisions_and_rotations/source/impl_1/game_logic.vhd"
// file 6 "z:/es4-final/collisions_and_rotations/source/impl_1/master.vhd"
// file 7 "z:/es4-final/collisions_and_rotations/source/impl_1/nes_controller.vhd"
// file 8 "z:/es4-final/collisions_and_rotations/source/impl_1/new_modules/board_updater.vhd"
// file 9 "z:/es4-final/collisions_and_rotations/source/impl_1/new_modules/piece_picker.vhd"
// file 10 "z:/es4-final/collisions_and_rotations/source/impl_1/new_modules/row_check.vhd"
// file 11 "z:/es4-final/collisions_and_rotations/source/impl_1/new_modules/turn_manager.vhd"
// file 12 "z:/es4-final/collisions_and_rotations/source/impl_1/piece_library.vhd"
// file 13 "z:/es4-final/collisions_and_rotations/source/impl_1/renderer.vhd"
// file 14 "z:/es4-final/collisions_and_rotations/source/impl_1/vga.vhd"
// file 15 "z:/es4-final/collisions_and_rotations/source/impl_1/vga_sync_clk.vhd"
// file 16 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 17 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 18 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 19 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 20 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 21 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 22 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 23 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 24 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 25 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 26 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 27 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 28 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 29 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 30 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 31 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 32 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 33 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 34 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 35 "c:/lscc/radiant/2023.1/ip/avant/fifo/rtl/lscc_fifo.v"
// file 36 "c:/lscc/radiant/2023.1/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 37 "c:/lscc/radiant/2023.1/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 38 "c:/lscc/radiant/2023.1/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 39 "c:/lscc/radiant/2023.1/ip/avant/rom/rtl/lscc_rom.v"
// file 40 "c:/lscc/radiant/2023.1/ip/common/adder/rtl/lscc_adder.v"
// file 41 "c:/lscc/radiant/2023.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 42 "c:/lscc/radiant/2023.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 43 "c:/lscc/radiant/2023.1/ip/common/counter/rtl/lscc_cntr.v"
// file 44 "c:/lscc/radiant/2023.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 45 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 46 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 47 "c:/lscc/radiant/2023.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 48 "c:/lscc/radiant/2023.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 49 "c:/lscc/radiant/2023.1/ip/pmi/pmi_add.v"
// file 50 "c:/lscc/radiant/2023.1/ip/pmi/pmi_addsub.v"
// file 51 "c:/lscc/radiant/2023.1/ip/pmi/pmi_complex_mult.v"
// file 52 "c:/lscc/radiant/2023.1/ip/pmi/pmi_counter.v"
// file 53 "c:/lscc/radiant/2023.1/ip/pmi/pmi_dsp.v"
// file 54 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo.v"
// file 55 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo_dc.v"
// file 56 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mac.v"
// file 57 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mult.v"
// file 58 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsub.v"
// file 59 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsubsum.v"
// file 60 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp.v"
// file 61 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp_be.v"
// file 62 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq.v"
// file 63 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq_be.v"
// file 64 "c:/lscc/radiant/2023.1/ip/pmi/pmi_rom.v"
// file 65 "c:/lscc/radiant/2023.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module master
//

module master (input osc, output [5:0]rgb, output hsync, output vsync, 
            output ctrlr_latch, output ctrlr_clk, output rotate_out, input ctrlr_data);
    
    (* is_clock=1, lineinfo="@6(17[3],17[6])" *) wire osc_c;
    (* is_clock=1, lineinfo="@6(22[3],22[12])" *) wire ctrlr_clk_c;
    (* is_clock=1, lineinfo="@6(136[9],136[12])" *) wire clk;
    
    wire rgb_c_4, rgb_c_1, rgb_c_0, hsync_c, vsync_c, ctrlr_latch_c, 
        rotate_out_c, ctrlr_data_c;
    (* lineinfo="@6(124[9],124[16])" *) wire [9:0]rgb_row;
    (* lineinfo="@6(125[9],125[16])" *) wire [9:0]rgb_col;
    (* lineinfo="@6(137[9],137[20])" *) wire [31:0]clk_counter;
    (* lineinfo="@6(144[9],144[25])" *) wire [15:0]valid_output_ctr;
    (* lineinfo="@6(146[9],146[18])" *) wire [3:0]\piece_loc[1] ;
    
    wire n18, n6, rgb_c_0_N_73, VCC_net, GND_net, n63, rgb_c_0_N_72, 
        n110, n1716, valid_output_N_83, n112, n135, valid_output_N_82, 
        n2678, n1844, valid_output_N_84;
    
    VHI i4 (.Z(VCC_net));
    (* lineinfo="@6(163[21],163[29])" *) vga_sync vga_sync_portmap (Open_0, 
            Open_1, rgb_row[7], Open_2, Open_3, Open_4, Open_5, 
            Open_6, Open_7, Open_8, rgb_row[5], rgb_row[4], vsync_c, 
            GND_net, rgb_row[9], Open_9, Open_10, Open_11, rgb_col[6], 
            rgb_col[5], rgb_col[4], Open_12, Open_13, Open_14, Open_15, 
            clk, rgb_row[8], rgb_col[8], rgb_col[7], rgb_col[9], hsync_c, 
            rgb_row[6], VCC_net, valid_output_N_84, n112, n135, n110, 
            n1716, n63, valid_output_N_83, n2678, n6, n1844, \piece_loc[1] [3], 
            valid_output_N_82, n18, rgb_c_0_N_73, rgb_c_0_N_72);
    (* lineinfo="@6(176[23],176[33])" *) game_logic game_logic_portmap ({\piece_loc[1] }, 
            clk, valid_output_ctr[4]);
    (* lineinfo="@6(195[21],195[29])" *) renderer renderer_portmap (rgb_c_0_N_72, 
            rgb_c_0_N_73, rgb_c_0, rgb_row[4], rgb_row[5], {\piece_loc[1] }, 
            rgb_col[6], rgb_col[4], rgb_row[6], rgb_row[7], n110, 
            n18, n6, rgb_col[5], n135, n1716, rgb_col[9], rgb_col[7], 
            rgb_row[8], rgb_col[8], rgb_row[9], rgb_c_4, rgb_c_1, 
            n63, n112, n2678, n1844);
    (* lineinfo="@6(153[26],153[39])" *) clock_manager clock_manager_portmap (GND_net, 
            clk_counter[15], clk_counter[13], clk_counter[14], clk_counter[11], 
            clk_counter[12], clk_counter[9], clk_counter[10], clk, clk_counter[7], 
            clk_counter[8], VCC_net, osc_c);
    (* lineinfo="@6(207[27],207[41])" *) nes_controller nes_controller_portmap (clk_counter[10], 
            clk_counter[15], clk_counter[12], clk_counter[8], clk_counter[9], 
            clk_counter[13], clk_counter[11], clk_counter[14], ctrlr_latch_c, 
            ctrlr_clk_c, rotate_out_c, clk_counter[7], ctrlr_data_c);
    (* lineinfo="@6(24[3],24[13])" *) IB ctrlr_data_pad (.I(ctrlr_data), .O(ctrlr_data_c));
    (* lineinfo="@6(17[3],17[6])" *) IB osc_pad (.I(osc), .O(osc_c));
    (* lineinfo="@6(23[3],23[13])" *) OB rotate_out_pad (.I(rotate_out_c), 
            .O(rotate_out));
    (* lineinfo="@6(22[3],22[12])" *) OB ctrlr_clk_pad (.I(ctrlr_clk_c), .O(ctrlr_clk));
    (* lineinfo="@6(21[3],21[14])" *) OB ctrlr_latch_pad (.I(ctrlr_latch_c), 
            .O(ctrlr_latch));
    (* lineinfo="@6(20[3],20[8])" *) OB vsync_pad (.I(vsync_c), .O(vsync));
    (* lineinfo="@6(19[3],19[8])" *) OB hsync_pad (.I(hsync_c), .O(hsync));
    (* lineinfo="@6(18[3],18[6])" *) OB \rgb_pad[0]  (.I(rgb_c_0), .O(rgb[0]));
    (* lineinfo="@6(18[3],18[6])" *) OB \rgb_pad[1]  (.I(rgb_c_1), .O(rgb[1]));
    (* lineinfo="@6(18[3],18[6])" *) OB \rgb_pad[2]  (.I(rgb_c_0), .O(rgb[2]));
    (* lineinfo="@6(18[3],18[6])" *) OB \rgb_pad[3]  (.I(rgb_c_1), .O(rgb[3]));
    (* lineinfo="@6(18[3],18[6])" *) OB \rgb_pad[4]  (.I(rgb_c_4), .O(rgb[4]));
    (* lineinfo="@6(18[3],18[6])" *) OB \rgb_pad[5]  (.I(rgb_c_1), .O(rgb[5]));
    (* lineinfo="@6(165[25],165[37])" *) vga_sync_clk vga_sync_clk_portmap (rgb_row[9], 
            valid_output_N_82, valid_output_N_83, valid_output_N_84, GND_net, 
            valid_output_ctr[4], VCC_net);
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module vga_sync
//

module vga_sync (output \rgb_row[9] , output \rgb_row[8] , output \rgb_row[7] , 
            output \rgb_row[6] , output \rgb_row[5] , output \rgb_row[4] , 
            output \rgb_row[3] , output \rgb_row[2] , output \rgb_row[1] , 
            output \rgb_row[0] , output \rgb_row[5]_2 , output \rgb_row[4]_2 , 
            output vsync_c, input GND_net, output \rgb_row[9]_2 , output \rgb_col[9] , 
            output \rgb_col[8] , output \rgb_col[7] , output \rgb_col[6] , 
            output \rgb_col[5] , output \rgb_col[4] , output \rgb_col[3] , 
            output \rgb_col[2] , output \rgb_col[1] , output \rgb_col[0] , 
            input clk, output \rgb_row[8]_2 , output \rgb_col[8]_2 , output \rgb_col[7]_2 , 
            output \rgb_col[9]_2 , output hsync_c, output \rgb_row[6]_2 , 
            input VCC_net, output valid_output_N_84, output n112, output n135, 
            output n110, output n1716, output n63, output valid_output_N_83, 
            output n2678, input n6, input n1844, input \piece_loc[1][3] , 
            output valid_output_N_82, input n18, output rgb_c_0_N_73, 
            output rgb_c_0_N_72);
    
    (* is_clock=1, lineinfo="@6(136[9],136[12])" *) wire clk;
    (* lineinfo="@6(124[9],124[16])" *) wire [9:0]rgb_row;
    
    wire vsync_c_N_75, vsync_c_N_76, n2143, n3096;
    wire [9:0]rgb_row_9__N_1;
    
    wire hsync_c_N_74;
    wire [9:0]rgb_col_9__N_31;
    (* lineinfo="@6(125[9],125[16])" *) wire [9:0]rgb_col;
    
    wire rgb_col_0__N_50, rgb_row_0__N_30, n2141, n3066, n2558, n14, 
        n129, n15, n2139, n3063, n2137, n3060, n6_c, n114, n8, 
        n2135, n3057, n138, n3054, n2130, n3108, n2132, n2128, 
        n3105, n2661, n2679, n2126, n3102, n2124, n3099, n23, 
        n3051, n1853, n10, n2560, n2456, n1849, n2324, n2338, 
        n3111, VCC_net_2;
    
    (* lut_function="(!(A (B (C))))" *) LUT4 i1_3_lut (.A(\rgb_row[7] ), .B(rgb_row[3]), 
            .C(\rgb_row[5]_2 ), .Z(vsync_c_N_75));
    defparam i1_3_lut.INIT = "0x7f7f";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 vsync_c_I_0 (.A(vsync_c_N_75), 
            .B(vsync_c_N_76), .C(rgb_row[2]), .D(\rgb_row[4]_2 ), .Z(vsync_c));
    defparam vsync_c_I_0.INIT = "0xfffe";
    FA2 row_temp_112_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(\rgb_row[9]_2 ), 
        .D0(n2143), .CI0(n2143), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n3096), .CI1(n3096), .CO0(n3096), .S0(rgb_row_9__N_1[9]));
    defparam row_temp_112_add_4_11.INIT0 = "0xc33c";
    defparam row_temp_112_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(!(A (B (C))+!A !(B+(C))))", lineinfo="@6(125[9],125[16])" *) LUT4 i25_3_lut (.A(\rgb_col[6] ), 
            .B(\rgb_col[4] ), .C(\rgb_col[5] ), .Z(hsync_c_N_74));
    defparam i25_3_lut.INIT = "0x7e7e";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_row_9__I_1 (.D(rgb_row_9__N_1[8]), 
            .SP(rgb_col_0__N_50), .CK(clk), .SR(rgb_row_0__N_30), .Q(\rgb_row[8]_2 ));
    defparam rgb_row_9__I_1.REGSET = "RESET";
    defparam rgb_row_9__I_1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_row_9__I_8 (.D(rgb_row_9__N_1[1]), 
            .SP(rgb_col_0__N_50), .CK(clk), .SR(rgb_row_0__N_30), .Q(rgb_row[1]));
    defparam rgb_row_9__I_8.REGSET = "RESET";
    defparam rgb_row_9__I_8.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+!(B (C (D))))", lineinfo="@6(125[9],125[16])" *) LUT4 rgb_col_8__I_0 (.A(\rgb_col[8]_2 ), 
            .B(\rgb_col[7]_2 ), .C(\rgb_col[9]_2 ), .D(hsync_c_N_74), 
            .Z(hsync_c));
    defparam rgb_col_8__I_0.INIT = "0xbfff";
    FA2 row_temp_112_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(\rgb_row[7] ), 
        .D0(n2141), .CI0(n2141), .A1(GND_net), .B1(GND_net), .C1(\rgb_row[8]_2 ), 
        .D1(n3066), .CI1(n3066), .CO0(n3066), .CO1(n2143), .S0(rgb_row_9__N_1[7]), 
        .S1(rgb_row_9__N_1[8]));
    defparam row_temp_112_add_4_9.INIT0 = "0xc33c";
    defparam row_temp_112_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A+(B))" *) LUT4 i1537_2_lut (.A(\rgb_row[6]_2 ), .B(\rgb_row[8]_2 ), 
            .Z(n2558));
    defparam i1537_2_lut.INIT = "0xeeee";
    (* lut_function="(!(((C)+!B)+!A))" *) LUT4 i5_3_lut (.A(rgb_col_0__N_50), 
            .B(rgb_row[0]), .C(\rgb_row[4]_2 ), .Z(n14));
    defparam i5_3_lut.INIT = "0x0808";
    (* lut_function="(!(A+(B+!(C (D)))))" *) LUT4 i6_4_lut (.A(\rgb_row[7] ), 
            .B(\rgb_row[5]_2 ), .C(\rgb_row[9]_2 ), .D(n129), .Z(n15));
    defparam i6_4_lut.INIT = "0x1000";
    (* lut_function="((((D)+!C)+!B)+!A)" *) LUT4 i6_4_lut_adj_33 (.A(rgb_row[1]), 
            .B(\rgb_row[6]_2 ), .C(\rgb_row[8]_2 ), .D(\rgb_row[9]_2 ), 
            .Z(vsync_c_N_76));
    defparam i6_4_lut_adj_33.INIT = "0xff7f";
    FA2 row_temp_112_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(\rgb_row[5]_2 ), 
        .D0(n2139), .CI0(n2139), .A1(GND_net), .B1(GND_net), .C1(\rgb_row[6]_2 ), 
        .D1(n3063), .CI1(n3063), .CO0(n3063), .CO1(n2141), .S0(rgb_row_9__N_1[5]), 
        .S1(rgb_row_9__N_1[6]));
    defparam row_temp_112_add_4_7.INIT0 = "0xc33c";
    defparam row_temp_112_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(!((B+((D)+!C))+!A))" *) LUT4 i8_4_lut (.A(n15), .B(rgb_row[1]), 
            .C(n14), .D(n2558), .Z(rgb_row_0__N_30));
    defparam i8_4_lut.INIT = "0x0020";
    FA2 row_temp_112_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(rgb_row[3]), 
        .D0(n2137), .CI0(n2137), .A1(GND_net), .B1(GND_net), .C1(\rgb_row[4]_2 ), 
        .D1(n3060), .CI1(n3060), .CO0(n3060), .CO1(n2139), .S0(rgb_row_9__N_1[3]), 
        .S1(rgb_row_9__N_1[4]));
    defparam row_temp_112_add_4_5.INIT0 = "0xc33c";
    defparam row_temp_112_add_4_5.INIT1 = "0xc33c";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(\rgb_col[6] ), .B(rgb_col[2]), 
            .Z(n6_c));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i4_4_lut (.A(rgb_col[0]), .B(rgb_col[1]), 
            .C(rgb_col[3]), .D(n6_c), .Z(n114));
    defparam i4_4_lut.INIT = "0xfffe";
    (* lut_function="(!((B+!(C))+!A))" *) LUT4 i3_3_lut (.A(\rgb_col[5] ), 
            .B(n114), .C(\rgb_col[8]_2 ), .Z(n8));
    defparam i3_3_lut.INIT = "0x2020";
    FA2 row_temp_112_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(rgb_row[1]), 
        .D0(n2135), .CI0(n2135), .A1(GND_net), .B1(GND_net), .C1(rgb_row[2]), 
        .D1(n3057), .CI1(n3057), .CO0(n3057), .CO1(n2137), .S0(rgb_row_9__N_1[1]), 
        .S1(rgb_row_9__N_1[2]));
    defparam row_temp_112_add_4_3.INIT0 = "0xc33c";
    defparam row_temp_112_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(!(A+(((D)+!C)+!B)))" *) LUT4 i4_4_lut_adj_34 (.A(\rgb_col[7]_2 ), 
            .B(n8), .C(\rgb_col[9]_2 ), .D(\rgb_col[4] ), .Z(rgb_col_0__N_50));
    defparam i4_4_lut_adj_34.INIT = "0x0040";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@6(124[9],124[16])" *) LUT4 i3_4_lut (.A(\rgb_row[7] ), 
            .B(\rgb_row[6]_2 ), .C(\rgb_row[4]_2 ), .D(\rgb_row[5]_2 ), 
            .Z(n138));
    defparam i3_4_lut.INIT = "0xfffe";
    FA2 row_temp_112_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(rgb_row[0]), .D1(n3054), .CI1(n3054), 
        .CO0(n3054), .CO1(n2135), .S1(rgb_row_9__N_1[0]));
    defparam row_temp_112_add_4_1.INIT0 = "0xc33c";
    defparam row_temp_112_add_4_1.INIT1 = "0xc33c";
    FA2 col_temp_113_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(\rgb_col[7]_2 ), 
        .D0(n2130), .CI0(n2130), .A1(GND_net), .B1(GND_net), .C1(\rgb_col[8]_2 ), 
        .D1(n3108), .CI1(n3108), .CO0(n3108), .CO1(n2132), .S0(rgb_col_9__N_31[7]), 
        .S1(rgb_col_9__N_31[8]));
    defparam col_temp_113_add_4_9.INIT0 = "0xc33c";
    defparam col_temp_113_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A (B))", lineinfo="@6(124[9],124[16])" *) LUT4 i1_2_lut_adj_35 (.A(rgb_row[2]), 
            .B(rgb_row[3]), .Z(n129));
    defparam i1_2_lut_adj_35.INIT = "0x8888";
    (* lut_function="(A+(B))", lineinfo="@6(124[9],124[16])" *) LUT4 i1_2_lut_adj_36 (.A(\rgb_row[8]_2 ), 
            .B(n138), .Z(valid_output_N_84));
    defparam i1_2_lut_adj_36.INIT = "0xeeee";
    (* lut_function="(A (B ((D)+!C))+!A !((C)+!B))" *) LUT4 i1_4_lut (.A(n112), 
            .B(n135), .C(n110), .D(\rgb_row[5]_2 ), .Z(n1716));
    defparam i1_4_lut.INIT = "0x8c0c";
    FA2 col_temp_113_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(\rgb_col[5] ), 
        .D0(n2128), .CI0(n2128), .A1(GND_net), .B1(GND_net), .C1(\rgb_col[6] ), 
        .D1(n3105), .CI1(n3105), .CO0(n3105), .CO1(n2130), .S0(rgb_col_9__N_31[5]), 
        .S1(rgb_col_9__N_31[6]));
    defparam col_temp_113_add_4_7.INIT0 = "0xc33c";
    defparam col_temp_113_add_4_7.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_row_9__I_7 (.D(rgb_row_9__N_1[2]), 
            .SP(rgb_col_0__N_50), .CK(clk), .SR(rgb_row_0__N_30), .Q(rgb_row[2]));
    defparam rgb_row_9__I_7.REGSET = "RESET";
    defparam rgb_row_9__I_7.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_37 (.A(\rgb_row[7] ), .B(\rgb_row[6]_2 ), 
            .Z(n135));
    defparam i1_2_lut_adj_37.INIT = "0x8888";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_38 (.A(\rgb_col[4] ), .B(\rgb_col[6] ), 
            .Z(n110));
    defparam i1_2_lut_adj_38.INIT = "0xeeee";
    (* lut_function="(A+!(B))", lineinfo="@6(124[9],124[16])" *) LUT4 i1_2_lut_adj_39 (.A(\rgb_row[4]_2 ), 
            .B(\rgb_col[4] ), .Z(n112));
    defparam i1_2_lut_adj_39.INIT = "0xbbbb";
    (* lut_function="(A (B))", lineinfo="@6(124[9],124[16])" *) LUT4 i1616_2_lut (.A(\rgb_row[4]_2 ), 
            .B(\rgb_row[7] ), .Z(n2661));
    defparam i1616_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@6(124[9],124[16])" *) LUT4 i42_4_lut (.A(n112), 
            .B(n2661), .C(\rgb_col[5] ), .D(\rgb_col[6] ), .Z(n2679));
    defparam i42_4_lut.INIT = "0xfaca";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_row_9__I_6 (.D(rgb_row_9__N_1[3]), 
            .SP(rgb_col_0__N_50), .CK(clk), .SR(rgb_row_0__N_30), .Q(rgb_row[3]));
    defparam rgb_row_9__I_6.REGSET = "RESET";
    defparam rgb_row_9__I_6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_row_9__I_5 (.D(rgb_row_9__N_1[4]), 
            .SP(rgb_col_0__N_50), .CK(clk), .SR(rgb_row_0__N_30), .Q(\rgb_row[4]_2 ));
    defparam rgb_row_9__I_5.REGSET = "RESET";
    defparam rgb_row_9__I_5.SRMODE = "CE_OVER_LSR";
    FA2 col_temp_113_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(rgb_col[3]), 
        .D0(n2126), .CI0(n2126), .A1(GND_net), .B1(GND_net), .C1(\rgb_col[4] ), 
        .D1(n3102), .CI1(n3102), .CO0(n3102), .CO1(n2128), .S0(rgb_col_9__N_31[3]), 
        .S1(rgb_col_9__N_31[4]));
    defparam col_temp_113_add_4_5.INIT0 = "0xc33c";
    defparam col_temp_113_add_4_5.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_row_9__I_4 (.D(rgb_row_9__N_1[5]), 
            .SP(rgb_col_0__N_50), .CK(clk), .SR(rgb_row_0__N_30), .Q(\rgb_row[5]_2 ));
    defparam rgb_row_9__I_4.REGSET = "RESET";
    defparam rgb_row_9__I_4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_row_9__I_3 (.D(rgb_row_9__N_1[6]), 
            .SP(rgb_col_0__N_50), .CK(clk), .SR(rgb_row_0__N_30), .Q(\rgb_row[6]_2 ));
    defparam rgb_row_9__I_3.REGSET = "RESET";
    defparam rgb_row_9__I_3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_row_9__I_2 (.D(rgb_row_9__N_1[7]), 
            .SP(rgb_col_0__N_50), .CK(clk), .SR(rgb_row_0__N_30), .Q(\rgb_row[7] ));
    defparam rgb_row_9__I_2.REGSET = "RESET";
    defparam rgb_row_9__I_2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_row_9__I_0_2 (.D(rgb_row_9__N_1[9]), 
            .SP(rgb_col_0__N_50), .CK(clk), .SR(rgb_row_0__N_30), .Q(\rgb_row[9]_2 ));
    defparam rgb_row_9__I_0_2.REGSET = "RESET";
    defparam rgb_row_9__I_0_2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_row_9__I_9 (.D(rgb_row_9__N_1[0]), 
            .SP(rgb_col_0__N_50), .CK(clk), .SR(rgb_row_0__N_30), .Q(rgb_row[0]));
    defparam rgb_row_9__I_9.REGSET = "RESET";
    defparam rgb_row_9__I_9.SRMODE = "CE_OVER_LSR";
    FA2 col_temp_113_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(rgb_col[1]), 
        .D0(n2124), .CI0(n2124), .A1(GND_net), .B1(GND_net), .C1(rgb_col[2]), 
        .D1(n3099), .CI1(n3099), .CO0(n3099), .CO1(n2126), .S0(rgb_col_9__N_31[1]), 
        .S1(rgb_col_9__N_31[2]));
    defparam col_temp_113_add_4_3.INIT0 = "0xc33c";
    defparam col_temp_113_add_4_3.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_col_9__I_0 (.D(rgb_col_9__N_31[9]), 
            .SP(VCC_net_2), .CK(clk), .SR(rgb_col_0__N_50), .Q(\rgb_col[9]_2 ));
    defparam rgb_col_9__I_0.REGSET = "RESET";
    defparam rgb_col_9__I_0.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_col_9__I_10 (.D(rgb_col_9__N_31[8]), 
            .SP(VCC_net_2), .CK(clk), .SR(rgb_col_0__N_50), .Q(\rgb_col[8]_2 ));
    defparam rgb_col_9__I_10.REGSET = "RESET";
    defparam rgb_col_9__I_10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_col_9__I_11 (.D(rgb_col_9__N_31[7]), 
            .SP(VCC_net_2), .CK(clk), .SR(rgb_col_0__N_50), .Q(\rgb_col[7]_2 ));
    defparam rgb_col_9__I_11.REGSET = "RESET";
    defparam rgb_col_9__I_11.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@6(124[9],124[16])" *) LUT4 i1_2_lut_4_lut (.A(rgb_row[3]), 
            .B(rgb_row[1]), .C(rgb_row[0]), .D(rgb_row[2]), .Z(n23));
    defparam i1_2_lut_4_lut.INIT = "0xfffe";
    FA2 col_temp_113_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(rgb_col[0]), .D1(n3051), .CI1(n3051), 
        .CO0(n3051), .CO1(n2124), .S1(rgb_col_9__N_31[0]));
    defparam col_temp_113_add_4_1.INIT0 = "0xc33c";
    defparam col_temp_113_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_col_9__I_12 (.D(rgb_col_9__N_31[6]), 
            .SP(VCC_net_2), .CK(clk), .SR(rgb_col_0__N_50), .Q(\rgb_col[6] ));
    defparam rgb_col_9__I_12.REGSET = "RESET";
    defparam rgb_col_9__I_12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_col_9__I_13 (.D(rgb_col_9__N_31[5]), 
            .SP(VCC_net_2), .CK(clk), .SR(rgb_col_0__N_50), .Q(\rgb_col[5] ));
    defparam rgb_col_9__I_13.REGSET = "RESET";
    defparam rgb_col_9__I_13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_col_9__I_14 (.D(rgb_col_9__N_31[4]), 
            .SP(VCC_net_2), .CK(clk), .SR(rgb_col_0__N_50), .Q(\rgb_col[4] ));
    defparam rgb_col_9__I_14.REGSET = "RESET";
    defparam rgb_col_9__I_14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_col_9__I_15 (.D(rgb_col_9__N_31[3]), 
            .SP(VCC_net_2), .CK(clk), .SR(rgb_col_0__N_50), .Q(rgb_col[3]));
    defparam rgb_col_9__I_15.REGSET = "RESET";
    defparam rgb_col_9__I_15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_col_9__I_16 (.D(rgb_col_9__N_31[2]), 
            .SP(VCC_net_2), .CK(clk), .SR(rgb_col_0__N_50), .Q(rgb_col[2]));
    defparam rgb_col_9__I_16.REGSET = "RESET";
    defparam rgb_col_9__I_16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_col_9__I_17 (.D(rgb_col_9__N_31[1]), 
            .SP(VCC_net_2), .CK(clk), .SR(rgb_col_0__N_50), .Q(rgb_col[1]));
    defparam rgb_col_9__I_17.REGSET = "RESET";
    defparam rgb_col_9__I_17.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_40 (.A(\rgb_col[6] ), .B(\rgb_col[5] ), 
            .Z(n63));
    defparam i1_2_lut_adj_40.INIT = "0xeeee";
    (* lut_function="(A (C (D))+!A (B (C (D))))" *) LUT4 i1_2_lut_3_lut_4_lut (.A(rgb_row[1]), 
            .B(rgb_row[0]), .C(rgb_row[2]), .D(rgb_row[3]), .Z(valid_output_N_83));
    defparam i1_2_lut_3_lut_4_lut.INIT = "0xe000";
    (* lut_function="(A (C (D))+!A ((C (D))+!B))", lineinfo="@6(124[9],124[16])" *) LUT4 i1629_3_lut_4_lut (.A(\rgb_col[4] ), 
            .B(\rgb_col[6] ), .C(\rgb_row[5]_2 ), .D(n2679), .Z(n2678));
    defparam i1629_3_lut_4_lut.INIT = "0xf111";
    (* lut_function="(A (B)+!A (B (C)))", lineinfo="@6(124[9],124[16])" *) LUT4 i1_3_lut_adj_41 (.A(n23), 
            .B(\rgb_row[8]_2 ), .C(n138), .Z(n1853));
    defparam i1_3_lut_adj_41.INIT = "0xc8c8";
    (* lut_function="(!(A (B+!(C+!(D)))+!A (B+((D)+!C))))" *) LUT4 i2_4_lut (.A(n6), 
            .B(n1844), .C(\rgb_row[7] ), .D(\piece_loc[1][3] ), .Z(n10));
    defparam i2_4_lut.INIT = "0x2032";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1539_4_lut (.A(\rgb_col[7]_2 ), 
            .B(\rgb_row[9]_2 ), .C(n1853), .D(n63), .Z(n2560));
    defparam i1539_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+(C+(D))))", lineinfo="@6(124[9],124[16])" *) LUT4 i1_2_lut_4_lut_adj_42 (.A(rgb_row[3]), 
            .B(rgb_row[1]), .C(rgb_row[0]), .D(rgb_row[2]), .Z(valid_output_N_82));
    defparam i1_2_lut_4_lut_adj_42.INIT = "0xaaa8";
    (* lut_function="(!((B+!(C (D)))+!A))" *) LUT4 i7_4_lut (.A(n18), .B(n2560), 
            .C(n10), .D(\rgb_col[4] ), .Z(rgb_c_0_N_73));
    defparam i7_4_lut.INIT = "0x2000";
    (* lut_function="(A (B (D))+!A (B (C (D))))" *) LUT4 i1_4_lut_adj_43 (.A(\rgb_row[4]_2 ), 
            .B(\rgb_row[7] ), .C(n23), .D(\rgb_row[5]_2 ), .Z(n2456));
    defparam i1_4_lut_adj_43.INIT = "0xc800";
    (* lut_function="(A (B)+!A (B (C)))" *) LUT4 i959_3_lut (.A(\rgb_col[8]_2 ), 
            .B(\rgb_col[9]_2 ), .C(\rgb_col[7]_2 ), .Z(n1849));
    defparam i959_3_lut.INIT = "0xc8c8";
    (* lut_function="(A (B (C)))" *) LUT4 i2_3_lut (.A(n2456), .B(\rgb_row[6]_2 ), 
            .C(\rgb_row[8]_2 ), .Z(n2324));
    defparam i2_3_lut.INIT = "0x8080";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3_4_lut_adj_44 (.A(\rgb_col[4] ), 
            .B(\rgb_col[5] ), .C(\rgb_col[8]_2 ), .D(n114), .Z(n2338));
    defparam i3_4_lut_adj_44.INIT = "0xfffe";
    (* lut_function="(A+(B (C+(D))+!B (C)))" *) LUT4 i1_4_lut_adj_45 (.A(\rgb_row[9]_2 ), 
            .B(n2338), .C(n2324), .D(n1849), .Z(rgb_c_0_N_72));
    defparam i1_4_lut_adj_45.INIT = "0xfefa";
    FA2 col_temp_113_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(\rgb_col[9]_2 ), 
        .D0(n2132), .CI0(n2132), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n3111), .CI1(n3111), .CO0(n3111), .S0(rgb_col_9__N_31[9]));
    defparam col_temp_113_add_4_11.INIT0 = "0xc33c";
    defparam col_temp_113_add_4_11.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ rgb_col_9__I_18 (.D(rgb_col_9__N_31[0]), 
            .SP(VCC_net_2), .CK(clk), .SR(rgb_col_0__N_50), .Q(rgb_col[0]));
    defparam rgb_col_9__I_18.REGSET = "RESET";
    defparam rgb_col_9__I_18.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net_2));
    
endmodule

//
// Verilog Description of module game_logic
//

module game_logic (output [3:0]\piece_loc[1] , input clk, input \valid_output_ctr[4] );
    
    (* is_clock=1, lineinfo="@6(136[9],136[12])" *) wire clk;
    wire [3:0]piece_loc_1__3__N_61;
    
    wire n955, VCC_net, GND_net;
    
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=23, LSE_RCOL=33, LSE_LLINE=176, LSE_RLINE=176, lineinfo="@5(211[3],268[10])" *) FD1P3XZ piece_loc_1__3__I_0 (.D(piece_loc_1__3__N_61[3]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(\piece_loc[1] [3]));
    defparam piece_loc_1__3__I_0.REGSET = "RESET";
    defparam piece_loc_1__3__I_0.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=23, LSE_RCOL=33, LSE_LLINE=176, LSE_RLINE=176, lineinfo="@5(211[3],268[10])" *) FD1P3XZ piece_loc_1__3__I_29 (.D(piece_loc_1__3__N_61[0]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(\piece_loc[1] [0]));
    defparam piece_loc_1__3__I_29.REGSET = "RESET";
    defparam piece_loc_1__3__I_29.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i189_2_lut (.A(\piece_loc[1] [0]), 
            .B(\valid_output_ctr[4] ), .Z(piece_loc_1__3__N_61[0]));
    defparam i189_2_lut.INIT = "0x6666";
    (* lut_function="(!(A (B (C))+!A !(B (C))))" *) LUT4 i211_3_lut (.A(\piece_loc[1] [3]), 
            .B(\piece_loc[1] [2]), .C(n955), .Z(piece_loc_1__3__N_61[3]));
    defparam i211_3_lut.INIT = "0x6a6a";
    (* lse_init_val=1, LSE_LINE_FILE_ID=92, LSE_LCOL=23, LSE_RCOL=33, LSE_LLINE=176, LSE_RLINE=176, lineinfo="@5(211[3],268[10])" *) FD1P3XZ piece_loc_1__3__I_28 (.D(piece_loc_1__3__N_61[1]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(\piece_loc[1] [1]));
    defparam piece_loc_1__3__I_28.REGSET = "RESET";
    defparam piece_loc_1__3__I_28.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C)+!B !(C))+!A !(C)))" *) LUT4 i197_2_lut_3_lut (.A(\piece_loc[1] [0]), 
            .B(\valid_output_ctr[4] ), .C(\piece_loc[1] [1]), .Z(piece_loc_1__3__N_61[1]));
    defparam i197_2_lut_3_lut.INIT = "0x7878";
    (* lut_function="(A (B (C)))" *) LUT4 i199_2_lut_3_lut (.A(\piece_loc[1] [0]), 
            .B(\valid_output_ctr[4] ), .C(\piece_loc[1] [1]), .Z(n955));
    defparam i199_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(!(A (B (C (D)))+!A !(B (C (D)))))" *) LUT4 i204_2_lut_4_lut (.A(\piece_loc[1] [2]), 
            .B(\piece_loc[1] [0]), .C(\valid_output_ctr[4] ), .D(\piece_loc[1] [1]), 
            .Z(piece_loc_1__3__N_61[2]));
    defparam i204_2_lut_4_lut.INIT = "0x6aaa";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=23, LSE_RCOL=33, LSE_LLINE=176, LSE_RLINE=176, lineinfo="@5(211[3],268[10])" *) FD1P3XZ piece_loc_1__3__I_27 (.D(piece_loc_1__3__N_61[2]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(\piece_loc[1] [2]));
    defparam piece_loc_1__3__I_27.REGSET = "RESET";
    defparam piece_loc_1__3__I_27.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net));
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module renderer
//

module renderer (input rgb_c_0_N_72, input rgb_c_0_N_73, output rgb_c_0, 
            input \rgb_row[4] , input \rgb_row[5] , input [3:0]\piece_loc[1] , 
            input \rgb_col[6] , input \rgb_col[4] , input \rgb_row[6] , 
            input \rgb_row[7] , input n110, output n18, output n6, input \rgb_col[5] , 
            input n135, input n1716, input \rgb_col[9] , input \rgb_col[7] , 
            input \rgb_row[8] , input \rgb_col[8] , input \rgb_row[9] , 
            output rgb_c_4, output rgb_c_1, input n63, input n112, input n2678, 
            output n1844);
    
    
    wire rgb_c_0_N_71, n4, n2648, n4_adj_85, n1857, n2645, n2650, 
        n6_adj_86, n2654, n77, rgb_c_4_N_66, rgb_c_1_N_70, n2657, 
        n74;
    wire [3:0]n833;
    
    wire n6_adj_87, n992;
    
    (* lut_function="(!(A (B)+!A (B+!(C))))", lineinfo="@13(70[9],70[52])" *) LUT4 rgb_c_0_I_0 (.A(rgb_c_0_N_71), 
            .B(rgb_c_0_N_72), .C(rgb_c_0_N_73), .Z(rgb_c_0));
    defparam rgb_c_0_I_0.INIT = "0x3232";
    (* lut_function="(A (B+!(C))+!A !(B (C (D))+!B (C+(D))))", lineinfo="@13(43[10],43[51])" *) LUT4 LessThan_6_i4_4_lut (.A(\rgb_row[4] ), 
            .B(\rgb_row[5] ), .C(\piece_loc[1] [1]), .D(\piece_loc[1] [0]), 
            .Z(n4));
    defparam LessThan_6_i4_4_lut.INIT = "0x8ecf";
    (* lut_function="(A (B)+!A (B (C)))" *) LUT4 i1623_3_lut (.A(\rgb_row[4] ), 
            .B(\rgb_row[5] ), .C(\rgb_col[6] ), .Z(n2648));
    defparam i1623_3_lut.INIT = "0xc8c8";
    (* lut_function="((B)+!A)" *) LUT4 i1_2_lut (.A(\rgb_col[4] ), .B(\rgb_col[6] ), 
            .Z(n4_adj_85));
    defparam i1_2_lut.INIT = "0xdddd";
    (* lut_function="(A (B (C)+!B !((D)+!C))+!A (B (D)+!B (C (D))))", lineinfo="@13(44[10],44[105])" *) LUT4 LessThan_8_i4_4_lut (.A(\piece_loc[1] [1]), 
            .B(\rgb_row[4] ), .C(\rgb_row[5] ), .D(\piece_loc[1] [0]), 
            .Z(n1857));
    defparam LessThan_8_i4_4_lut.INIT = "0xd4a0";
    (* lut_function="(A (B (C))+!A !(((D)+!C)+!B))" *) LUT4 i1614_4_lut (.A(n2648), 
            .B(\rgb_row[6] ), .C(\rgb_row[7] ), .D(n110), .Z(n2645));
    defparam i1614_4_lut.INIT = "0x80c0";
    (* lut_function="(A (B+!(C (D)))+!A (B+!(C)))" *) LUT4 i1622_4_lut (.A(\piece_loc[1] [3]), 
            .B(n4_adj_85), .C(n18), .D(n6), .Z(n2650));
    defparam i1622_4_lut.INIT = "0xcfef";
    (* lut_function="(!(A+!(B (C (D)))))" *) LUT4 i1617_4_lut (.A(\rgb_col[5] ), 
            .B(n135), .C(\rgb_row[5] ), .D(n6_adj_86), .Z(n2654));
    defparam i1617_4_lut.INIT = "0x4000";
    (* lut_function="(A (B (C+(D))+!B !(C+!(D)))+!A (B (C)))" *) LUT4 i100_4_lut (.A(n2650), 
            .B(n2645), .C(\rgb_col[5] ), .D(n1716), .Z(n77));
    defparam i100_4_lut.INIT = "0xcac0";
    (* lut_function="(!(A+!(B (C+!(D))+!B (C (D)))))" *) LUT4 i2_4_lut (.A(\rgb_col[9] ), 
            .B(n77), .C(n2654), .D(\rgb_col[7] ), .Z(rgb_c_4_N_66));
    defparam i2_4_lut.INIT = "0x5044";
    (* lut_function="(!(A+((C+(D))+!B)))" *) LUT4 rgb_row_8__I_0 (.A(\rgb_row[8] ), 
            .B(rgb_c_4_N_66), .C(\rgb_col[8] ), .D(\rgb_row[9] ), .Z(rgb_c_4));
    defparam rgb_row_8__I_0.INIT = "0x0004";
    (* lut_function="(!(A (B)+!A (B+!(C+!(D)))))", lineinfo="@13(70[9],70[52])" *) LUT4 rgb_c_1_I_0 (.A(rgb_c_0_N_73), 
            .B(rgb_c_0_N_72), .C(rgb_c_0_N_71), .D(rgb_c_1_N_70), .Z(rgb_c_1));
    defparam rgb_c_1_I_0.INIT = "0x3233";
    (* lut_function="(!(A+!(B (C))))", lineinfo="@13(54[98],54[123])" *) LUT4 i1626_3_lut (.A(n63), 
            .B(n112), .C(\rgb_row[5] ), .Z(n2657));
    defparam i1626_3_lut.INIT = "0x4040";
    (* lut_function="(A (B (C+!(D))+!B (C (D))))", lineinfo="@13(54[98],54[123])" *) LUT4 i1541_4_lut (.A(n135), 
            .B(n2678), .C(n2657), .D(\rgb_col[7] ), .Z(n74));
    defparam i1541_4_lut.INIT = "0xa088";
    (* lut_function="(!(A ((C)+!B)+!A !(B+!(C))))", lineinfo="@13(44[10],44[105])" *) LUT4 LessThan_8_i6_3_lut (.A(n1857), 
            .B(n833[2]), .C(\rgb_row[6] ), .Z(n6_adj_87));
    defparam LessThan_8_i6_3_lut.INIT = "0x4d4d";
    (* lut_function="(A (C)+!A (B (C)))", lineinfo="@13(44[39],44[85])" *) LUT4 i236_2_lut_3_lut (.A(\piece_loc[1] [1]), 
            .B(\piece_loc[1] [0]), .C(\piece_loc[1] [2]), .Z(n992));
    defparam i236_2_lut_3_lut.INIT = "0xe0e0";
    (* lut_function="(!(A (C)+!A (B (C)+!B !(C))))", lineinfo="@13(44[39],44[85])" *) LUT4 i234_2_lut_3_lut (.A(\piece_loc[1] [1]), 
            .B(\piece_loc[1] [0]), .C(\piece_loc[1] [2]), .Z(n833[2]));
    defparam i234_2_lut_3_lut.INIT = "0x1e1e";
    (* lut_function="(A (B+((D)+!C))+!A (B ((D)+!C)+!B !(C+!(D))))" *) LUT4 i482_4_lut (.A(n6_adj_87), 
            .B(\piece_loc[1] [3]), .C(\rgb_row[7] ), .D(n992), .Z(n18));
    defparam i482_4_lut.INIT = "0xef8e";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i984_2_lut_4_lut (.A(\rgb_row[9] ), 
            .B(\rgb_row[8] ), .C(n1844), .D(n74), .Z(rgb_c_1_N_70));
    defparam i984_2_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+(B+(C+!(D)))))" *) LUT4 i633_2_lut_4_lut (.A(\rgb_row[9] ), 
            .B(\rgb_row[8] ), .C(n1844), .D(n74), .Z(rgb_c_0_N_71));
    defparam i633_2_lut_4_lut.INIT = "0x0100";
    (* lut_function="(A+(B (C+(D))+!B (C)))" *) LUT4 i2_4_lut_adj_32 (.A(\rgb_col[9] ), 
            .B(n63), .C(\rgb_col[8] ), .D(\rgb_col[7] ), .Z(n1844));
    defparam i2_4_lut_adj_32.INIT = "0xfefa";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@13(43[10],43[51])" *) LUT4 LessThan_6_i6_3_lut (.A(n4), 
            .B(\rgb_row[6] ), .C(\piece_loc[1] [2]), .Z(n6));
    defparam LessThan_6_i6_3_lut.INIT = "0x8e8e";
    (* lut_function="(!(A (C)+!A (B+(C))))" *) LUT4 i1_2_lut_3_lut (.A(\rgb_row[4] ), 
            .B(\rgb_col[4] ), .C(\rgb_col[6] ), .Z(n6_adj_86));
    defparam i1_2_lut_3_lut.INIT = "0x0b0b";
    
endmodule

//
// Verilog Description of module clock_manager
//

module clock_manager (input GND_net, output \clk_counter[15] , output \clk_counter[13] , 
            output \clk_counter[14] , output \clk_counter[11] , output \clk_counter[12] , 
            output \clk_counter[9] , output \clk_counter[10] , output clk, 
            output \clk_counter[7] , output \clk_counter[8] , input VCC_net, 
            input osc_c);
    
    (* is_clock=1, lineinfo="@6(136[9],136[12])" *) wire clk;
    (* is_clock=1, lineinfo="@6(17[3],17[6])" *) wire osc_c;
    
    wire n2160, n3093;
    wire [15:0]clk_counter_15__N_51;
    
    wire n2158, n3090, n2156, n3087, n2154, n3084, n16, n2152, 
        n3081, n2150, n3078, n11, n10, n2148, n3075, n13, n12, 
        n2146, n3072, n15, n14, n3069, VCC_net_2, GND_net_2;
    
    FA2 clk_counter_111_144_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(\clk_counter[15] ), 
        .D0(n2160), .CI0(n2160), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n3093), .CI1(n3093), .CO0(n3093), .S0(clk_counter_15__N_51[15]));
    defparam clk_counter_111_144_add_4_17.INIT0 = "0xc33c";
    defparam clk_counter_111_144_add_4_17.INIT1 = "0xc33c";
    FA2 clk_counter_111_144_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(\clk_counter[13] ), 
        .D0(n2158), .CI0(n2158), .A1(GND_net), .B1(GND_net), .C1(\clk_counter[14] ), 
        .D1(n3090), .CI1(n3090), .CO0(n3090), .CO1(n2160), .S0(clk_counter_15__N_51[13]), 
        .S1(clk_counter_15__N_51[14]));
    defparam clk_counter_111_144_add_4_15.INIT0 = "0xc33c";
    defparam clk_counter_111_144_add_4_15.INIT1 = "0xc33c";
    FA2 clk_counter_111_144_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(\clk_counter[11] ), 
        .D0(n2156), .CI0(n2156), .A1(GND_net), .B1(GND_net), .C1(\clk_counter[12] ), 
        .D1(n3087), .CI1(n3087), .CO0(n3087), .CO1(n2158), .S0(clk_counter_15__N_51[11]), 
        .S1(clk_counter_15__N_51[12]));
    defparam clk_counter_111_144_add_4_13.INIT0 = "0xc33c";
    defparam clk_counter_111_144_add_4_13.INIT1 = "0xc33c";
    FA2 clk_counter_111_144_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(\clk_counter[9] ), 
        .D0(n2154), .CI0(n2154), .A1(GND_net), .B1(GND_net), .C1(\clk_counter[10] ), 
        .D1(n3084), .CI1(n3084), .CO0(n3084), .CO1(n2156), .S0(clk_counter_15__N_51[9]), 
        .S1(clk_counter_15__N_51[10]));
    defparam clk_counter_111_144_add_4_11.INIT0 = "0xc33c";
    defparam clk_counter_111_144_add_4_11.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_15__I_0 (.D(clk_counter_15__N_51[15]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(\clk_counter[15] ));
    defparam clk_counter_15__I_0.REGSET = "RESET";
    defparam clk_counter_15__I_0.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_15__I_19 (.D(clk_counter_15__N_51[14]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(\clk_counter[14] ));
    defparam clk_counter_15__I_19.REGSET = "RESET";
    defparam clk_counter_15__I_19.SRMODE = "CE_OVER_LSR";
    FA2 clk_counter_111_144_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(\clk_counter[7] ), 
        .D0(n2152), .CI0(n2152), .A1(GND_net), .B1(GND_net), .C1(\clk_counter[8] ), 
        .D1(n3081), .CI1(n3081), .CO0(n3081), .CO1(n2154), .S0(clk_counter_15__N_51[7]), 
        .S1(clk_counter_15__N_51[8]));
    defparam clk_counter_111_144_add_4_9.INIT0 = "0xc33c";
    defparam clk_counter_111_144_add_4_9.INIT1 = "0xc33c";
    FA2 clk_counter_111_144_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(n11), 
        .D0(n2150), .CI0(n2150), .A1(GND_net), .B1(GND_net), .C1(n10), 
        .D1(n3078), .CI1(n3078), .CO0(n3078), .CO1(n2152), .S0(clk_counter_15__N_51[5]), 
        .S1(clk_counter_15__N_51[6]));
    defparam clk_counter_111_144_add_4_7.INIT0 = "0xc33c";
    defparam clk_counter_111_144_add_4_7.INIT1 = "0xc33c";
    FA2 clk_counter_111_144_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(n13), 
        .D0(n2148), .CI0(n2148), .A1(GND_net), .B1(GND_net), .C1(n12), 
        .D1(n3075), .CI1(n3075), .CO0(n3075), .CO1(n2150), .S0(clk_counter_15__N_51[3]), 
        .S1(clk_counter_15__N_51[4]));
    defparam clk_counter_111_144_add_4_5.INIT0 = "0xc33c";
    defparam clk_counter_111_144_add_4_5.INIT1 = "0xc33c";
    FA2 clk_counter_111_144_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(n15), 
        .D0(n2146), .CI0(n2146), .A1(GND_net), .B1(GND_net), .C1(n14), 
        .D1(n3072), .CI1(n3072), .CO0(n3072), .CO1(n2148), .S0(clk_counter_15__N_51[1]), 
        .S1(clk_counter_15__N_51[2]));
    defparam clk_counter_111_144_add_4_3.INIT0 = "0xc33c";
    defparam clk_counter_111_144_add_4_3.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_15__I_20 (.D(clk_counter_15__N_51[13]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(\clk_counter[13] ));
    defparam clk_counter_15__I_20.REGSET = "RESET";
    defparam clk_counter_15__I_20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_15__I_21 (.D(clk_counter_15__N_51[12]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(\clk_counter[12] ));
    defparam clk_counter_15__I_21.REGSET = "RESET";
    defparam clk_counter_15__I_21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_15__I_22 (.D(clk_counter_15__N_51[11]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(\clk_counter[11] ));
    defparam clk_counter_15__I_22.REGSET = "RESET";
    defparam clk_counter_15__I_22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_15__I_23 (.D(clk_counter_15__N_51[10]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(\clk_counter[10] ));
    defparam clk_counter_15__I_23.REGSET = "RESET";
    defparam clk_counter_15__I_23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_15__I_24 (.D(clk_counter_15__N_51[9]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(\clk_counter[9] ));
    defparam clk_counter_15__I_24.REGSET = "RESET";
    defparam clk_counter_15__I_24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_15__I_25 (.D(clk_counter_15__N_51[8]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(\clk_counter[8] ));
    defparam clk_counter_15__I_25.REGSET = "RESET";
    defparam clk_counter_15__I_25.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_15__I_26 (.D(clk_counter_15__N_51[7]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(\clk_counter[7] ));
    defparam clk_counter_15__I_26.REGSET = "RESET";
    defparam clk_counter_15__I_26.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_111_144__i7 (.D(clk_counter_15__N_51[6]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n10));
    defparam clk_counter_111_144__i7.REGSET = "RESET";
    defparam clk_counter_111_144__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_111_144__i6 (.D(clk_counter_15__N_51[5]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n11));
    defparam clk_counter_111_144__i6.REGSET = "RESET";
    defparam clk_counter_111_144__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_111_144__i5 (.D(clk_counter_15__N_51[4]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n12));
    defparam clk_counter_111_144__i5.REGSET = "RESET";
    defparam clk_counter_111_144__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_111_144__i4 (.D(clk_counter_15__N_51[3]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n13));
    defparam clk_counter_111_144__i4.REGSET = "RESET";
    defparam clk_counter_111_144__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_111_144__i3 (.D(clk_counter_15__N_51[2]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n14));
    defparam clk_counter_111_144__i3.REGSET = "RESET";
    defparam clk_counter_111_144__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_111_144__i2 (.D(clk_counter_15__N_51[1]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n15));
    defparam clk_counter_111_144__i2.REGSET = "RESET";
    defparam clk_counter_111_144__i2.SRMODE = "CE_OVER_LSR";
    FA2 clk_counter_111_144_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(n16), .D1(n3069), .CI1(n3069), 
        .CO0(n3069), .CO1(n2146), .S1(clk_counter_15__N_51[0]));
    defparam clk_counter_111_144_add_4_1.INIT0 = "0xc33c";
    defparam clk_counter_111_144_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@3(30[16],30[21])" *) mypll pll_portmap (GND_net, osc_c, 
            VCC_net, clk);
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_counter_111_144__i1 (.D(clk_counter_15__N_51[0]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n16));
    defparam clk_counter_111_144__i1.REGSET = "RESET";
    defparam clk_counter_111_144__i1.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net_2));
    VHI i1 (.Z(VCC_net_2));
    
endmodule

//
// Verilog Description of module mypll
//

module mypll (input GND_net, input osc_c, input VCC_net, output clk);
    
    (* is_clock=1, lineinfo="@6(17[3],17[6])" *) wire osc_c;
    (* is_clock=1, lineinfo="@6(136[9],136[12])" *) wire clk;
    
    (* lineinfo="@2(35[41],48[26])" *) \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") lscc_pll_inst (GND_net, 
            osc_c, VCC_net, clk);
    
endmodule

//
// Verilog Description of module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") 
//

module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") (input GND_net, 
            input osc_c, input VCC_net, output clk);
    
    (* is_clock=1, lineinfo="@6(17[3],17[6])" *) wire osc_c;
    (* is_clock=1, lineinfo="@6(136[9],136[12])" *) wire clk;
    
    wire feedback_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=89, LSE_LCOL=41, LSE_RCOL=26, LSE_LLINE=35, LSE_RLINE=48, lineinfo="@2(35[41],48[26])" *) PLL_B u_PLL_B (.REFERENCECLK(osc_c), 
            .FEEDBACK(feedback_w), .DYNAMICDELAY7(GND_net), .DYNAMICDELAY6(GND_net), 
            .DYNAMICDELAY5(GND_net), .DYNAMICDELAY4(GND_net), .DYNAMICDELAY3(GND_net), 
            .DYNAMICDELAY2(GND_net), .DYNAMICDELAY1(GND_net), .DYNAMICDELAY0(GND_net), 
            .BYPASS(GND_net), .RESET_N(VCC_net), .SCLK(GND_net), .SDI(GND_net), 
            .LATCH(GND_net), .INTFBOUT(feedback_w), .OUTGLOBAL(clk));
    defparam u_PLL_B.FEEDBACK_PATH = "SIMPLE";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_FEEDBACK = "FIXED";
    defparam u_PLL_B.FDA_FEEDBACK = "0";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_RELATIVE = "FIXED";
    defparam u_PLL_B.FDA_RELATIVE = "0";
    defparam u_PLL_B.SHIFTREG_DIV_MODE = "0";
    defparam u_PLL_B.PLLOUT_SELECT_PORTA = "GENCLK";
    defparam u_PLL_B.PLLOUT_SELECT_PORTB = "GENCLK";
    defparam u_PLL_B.DIVR = "0";
    defparam u_PLL_B.DIVF = "66";
    defparam u_PLL_B.DIVQ = "5";
    defparam u_PLL_B.FILTER_RANGE = "1";
    defparam u_PLL_B.EXTERNAL_DIVIDE_FACTOR = "NONE";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTA = "0";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTB = "0";
    defparam u_PLL_B.TEST_MODE = "0";
    defparam u_PLL_B.FREQUENCY_PIN_REFERENCECLK = "12.000000";
    
endmodule

//
// Verilog Description of module nes_controller
//

module nes_controller (input \clk_counter[10] , input \clk_counter[15] , 
            input \clk_counter[12] , input \clk_counter[8] , input \clk_counter[9] , 
            input \clk_counter[13] , input \clk_counter[11] , input \clk_counter[14] , 
            output ctrlr_latch_c, output ctrlr_clk_c, output rotate_out_c, 
            input \clk_counter[7] , input ctrlr_data_c);
    
    (* is_clock=1, lineinfo="@6(22[3],22[12])" *) wire ctrlr_clk_c;
    
    wire ctrlr_latch_c_N_78, ctrlr_latch_c_N_77, shift_reg_0__N_65;
    (* lineinfo="@7(33[12],33[21])" *) wire [7:0]shift_reg;
    
    wire ctrlr_clk_c_N_79, rotate_out_c_N_81, rotate_out_c_N_80, VCC_net, 
        GND_net;
    
    (* lut_function="(A (B))" *) LUT4 i2_2_lut (.A(\clk_counter[10] ), .B(\clk_counter[15] ), 
            .Z(ctrlr_latch_c_N_78));
    defparam i2_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C (D))))" *) LUT4 i6_4_lut (.A(\clk_counter[12] ), 
            .B(\clk_counter[8] ), .C(\clk_counter[9] ), .D(\clk_counter[13] ), 
            .Z(ctrlr_latch_c_N_77));
    defparam i6_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C (D))))" *) LUT4 clk_counter_11__I_0 (.A(\clk_counter[11] ), 
            .B(ctrlr_latch_c_N_77), .C(ctrlr_latch_c_N_78), .D(\clk_counter[14] ), 
            .Z(ctrlr_latch_c));
    defparam clk_counter_11__I_0.INIT = "0x8000";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=27, LSE_RCOL=41, LSE_LLINE=207, LSE_RLINE=207, lineinfo="@7(51[9],54[16])" *) FD1P3XZ shift_reg_2__I_0 (.D(shift_reg[2]), 
            .SP(VCC_net), .CK(ctrlr_clk_c), .SR(GND_net), .Q(shift_reg[3]));
    defparam shift_reg_2__I_0.REGSET = "RESET";
    defparam shift_reg_2__I_0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C)))", lineinfo="@7(39[38],39[50])" *) LUT4 i3_3_lut (.A(\clk_counter[10] ), 
            .B(\clk_counter[9] ), .C(ctrlr_clk_c_N_79), .Z(rotate_out_c_N_81));
    defparam i3_3_lut.INIT = "0xfefe";
    (* lut_function="((B)+!A)", lineinfo="@7(39[38],39[50])" *) LUT4 i2_2_lut_adj_31 (.A(\clk_counter[11] ), 
            .B(\clk_counter[8] ), .Z(rotate_out_c_N_80));
    defparam i2_2_lut_adj_31.INIT = "0xdddd";
    (* lut_function="(A (B+!(C+(D)))+!A (B (C+(D))))", lineinfo="@7(39[22],39[51])" *) LUT4 shift_reg_3__I_0 (.A(shift_reg[3]), 
            .B(rotate_out_c), .C(rotate_out_c_N_80), .D(rotate_out_c_N_81), 
            .Z(rotate_out_c));
    defparam shift_reg_3__I_0.INIT = "0xccca";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@7(38[31],38[43])" *) LUT4 i3_4_lut (.A(\clk_counter[12] ), 
            .B(\clk_counter[14] ), .C(\clk_counter[13] ), .D(\clk_counter[15] ), 
            .Z(ctrlr_clk_c_N_79));
    defparam i3_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+((C)+!B)))" *) LUT4 ctrlr_clk_c_I_0 (.A(ctrlr_clk_c_N_79), 
            .B(\clk_counter[7] ), .C(\clk_counter[11] ), .Z(ctrlr_clk_c));
    defparam ctrlr_clk_c_I_0.INIT = "0x0404";
    (* lut_function="(!(A))", lineinfo="@7(53[29],53[37])" *) LUT4 i10_1_lut (.A(ctrlr_data_c), 
            .Z(shift_reg_0__N_65));
    defparam i10_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=27, LSE_RCOL=41, LSE_LLINE=207, LSE_RLINE=207, lineinfo="@7(51[9],54[16])" *) FD1P3XZ shift_reg_1__I_0 (.D(shift_reg[1]), 
            .SP(VCC_net), .CK(ctrlr_clk_c), .SR(GND_net), .Q(shift_reg[2]));
    defparam shift_reg_1__I_0.REGSET = "RESET";
    defparam shift_reg_1__I_0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=27, LSE_RCOL=41, LSE_LLINE=207, LSE_RLINE=207, lineinfo="@7(51[9],54[16])" *) FD1P3XZ shift_reg_0__I_0 (.D(shift_reg[0]), 
            .SP(VCC_net), .CK(ctrlr_clk_c), .SR(GND_net), .Q(shift_reg[1]));
    defparam shift_reg_0__I_0.REGSET = "RESET";
    defparam shift_reg_0__I_0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=27, LSE_RCOL=41, LSE_LLINE=207, LSE_RLINE=207, lineinfo="@7(51[9],54[16])" *) FD1P3XZ shift_reg_0__I_30 (.D(shift_reg_0__N_65), 
            .SP(VCC_net), .CK(ctrlr_clk_c), .SR(GND_net), .Q(shift_reg[0]));
    defparam shift_reg_0__I_30.REGSET = "RESET";
    defparam shift_reg_0__I_30.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net));
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module vga_sync_clk
//

module vga_sync_clk (input \rgb_row[9] , input valid_output_N_82, input valid_output_N_83, 
            input valid_output_N_84, input GND_net, output \valid_output_ctr[4] , 
            input VCC_net);
    
    (* is_clock=1, lineinfo="@6(143[9],143[21])" *) wire valid_output;
    wire [4:0]valid_output_ctr_4__N_60;
    
    wire n5, n2118, n3114, n4, n3, n2120, n2, n3048, n3117, 
        VCC_net_2, GND_net_2;
    
    (* syn_use_carry_chain=1 *) FD1P3XZ valid_output_ctr_4__I_0 (.D(valid_output_ctr_4__N_60[4]), 
            .SP(VCC_net_2), .CK(valid_output), .SR(GND_net_2), .Q(\valid_output_ctr[4] ));
    defparam valid_output_ctr_4__I_0.REGSET = "RESET";
    defparam valid_output_ctr_4__I_0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(((C+(D))+!B)+!A))", lineinfo="@15(23[27],23[58])" *) LUT4 rgb_row_9__I_0 (.A(\rgb_row[9] ), 
            .B(valid_output_N_82), .C(valid_output_N_83), .D(valid_output_N_84), 
            .Z(valid_output));
    defparam rgb_row_9__I_0.INIT = "0x0008";
    FA2 valid_output_ctr_114_143_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(n4), 
        .D0(n2118), .CI0(n2118), .A1(GND_net), .B1(GND_net), .C1(n3), 
        .D1(n3114), .CI1(n3114), .CO0(n3114), .CO1(n2120), .S0(valid_output_ctr_4__N_60[1]), 
        .S1(valid_output_ctr_4__N_60[2]));
    defparam valid_output_ctr_114_143_add_4_3.INIT0 = "0xc33c";
    defparam valid_output_ctr_114_143_add_4_3.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ valid_output_ctr_114_143__i4 (.D(valid_output_ctr_4__N_60[3]), 
            .SP(VCC_net_2), .CK(valid_output), .SR(GND_net_2), .Q(n2));
    defparam valid_output_ctr_114_143__i4.REGSET = "RESET";
    defparam valid_output_ctr_114_143__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ valid_output_ctr_114_143__i3 (.D(valid_output_ctr_4__N_60[2]), 
            .SP(VCC_net_2), .CK(valid_output), .SR(GND_net_2), .Q(n3));
    defparam valid_output_ctr_114_143__i3.REGSET = "RESET";
    defparam valid_output_ctr_114_143__i3.SRMODE = "CE_OVER_LSR";
    FA2 valid_output_ctr_114_143_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(n5), .D1(n3048), .CI1(n3048), 
        .CO0(n3048), .CO1(n2118), .S1(valid_output_ctr_4__N_60[0]));
    defparam valid_output_ctr_114_143_add_4_1.INIT0 = "0xc33c";
    defparam valid_output_ctr_114_143_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ valid_output_ctr_114_143__i2 (.D(valid_output_ctr_4__N_60[1]), 
            .SP(VCC_net_2), .CK(valid_output), .SR(GND_net_2), .Q(n4));
    defparam valid_output_ctr_114_143__i2.REGSET = "RESET";
    defparam valid_output_ctr_114_143__i2.SRMODE = "CE_OVER_LSR";
    FA2 valid_output_ctr_114_143_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(n2), 
        .D0(n2120), .CI0(n2120), .A1(GND_net), .B1(GND_net), .C1(\valid_output_ctr[4] ), 
        .D1(n3117), .CI1(n3117), .CO0(n3117), .S0(valid_output_ctr_4__N_60[3]), 
        .S1(valid_output_ctr_4__N_60[4]));
    defparam valid_output_ctr_114_143_add_4_5.INIT0 = "0xc33c";
    defparam valid_output_ctr_114_143_add_4_5.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ valid_output_ctr_114_143__i1 (.D(valid_output_ctr_4__N_60[0]), 
            .SP(VCC_net_2), .CK(valid_output), .SR(GND_net_2), .Q(n5));
    defparam valid_output_ctr_114_143__i1.REGSET = "RESET";
    defparam valid_output_ctr_114_143__i1.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net_2));
    VHI i1 (.Z(VCC_net_2));
    
endmodule
