// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2023.1.0.43.3
// Netlist written on Thu Nov 30 18:58:35 2023
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.v"
// file 1 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.vhd"
// file 2 "z:/es4-final/vga test/impl_1/vhdl/clock.vhd"
// file 3 "z:/es4-final/vga test/impl_1/vhdl/master.vhd"
// file 4 "z:/es4-final/vga test/impl_1/vhdl/nes_controller.vhd"
// file 5 "z:/es4-final/vga test/impl_1/vhdl/pattern_gen.vhd"
// file 6 "z:/es4-final/vga test/impl_1/vhdl/piece.vhd"
// file 7 "z:/es4-final/vga test/impl_1/vhdl/vga.vhd"
// file 8 "z:/es4-final/vga test/pll_component/rtl/pll_component.v"
// file 9 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 10 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 11 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 12 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 13 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 14 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 15 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 16 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 17 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 18 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 19 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 20 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 21 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 22 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 23 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 24 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 25 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 26 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 27 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 28 "c:/lscc/radiant/2023.1/ip/avant/fifo/rtl/lscc_fifo.v"
// file 29 "c:/lscc/radiant/2023.1/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 30 "c:/lscc/radiant/2023.1/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 31 "c:/lscc/radiant/2023.1/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 32 "c:/lscc/radiant/2023.1/ip/avant/rom/rtl/lscc_rom.v"
// file 33 "c:/lscc/radiant/2023.1/ip/common/adder/rtl/lscc_adder.v"
// file 34 "c:/lscc/radiant/2023.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 35 "c:/lscc/radiant/2023.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 36 "c:/lscc/radiant/2023.1/ip/common/counter/rtl/lscc_cntr.v"
// file 37 "c:/lscc/radiant/2023.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 38 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 39 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 40 "c:/lscc/radiant/2023.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 41 "c:/lscc/radiant/2023.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 42 "c:/lscc/radiant/2023.1/ip/pmi/pmi_add.v"
// file 43 "c:/lscc/radiant/2023.1/ip/pmi/pmi_addsub.v"
// file 44 "c:/lscc/radiant/2023.1/ip/pmi/pmi_complex_mult.v"
// file 45 "c:/lscc/radiant/2023.1/ip/pmi/pmi_counter.v"
// file 46 "c:/lscc/radiant/2023.1/ip/pmi/pmi_dsp.v"
// file 47 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo.v"
// file 48 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo_dc.v"
// file 49 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mac.v"
// file 50 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mult.v"
// file 51 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsub.v"
// file 52 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsubsum.v"
// file 53 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp.v"
// file 54 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp_be.v"
// file 55 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq.v"
// file 56 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq_be.v"
// file 57 "c:/lscc/radiant/2023.1/ip/pmi/pmi_rom.v"
// file 58 "c:/lscc/radiant/2023.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module master
//

module master (input osc, output [5:0]rgb, output hsync, output vsync, 
            output clk_test, output ctrlr_latch, output ctrlr_clk, input ctrlr_data);
    
    (* is_clock=1, lineinfo="@3(7[3],7[6])" *) wire osc_c;
    (* is_clock=1, lineinfo="@3(11[3],11[11])" *) wire clk_test_c;
    (* is_clock=1, lineinfo="@3(81[9],81[20])" *) wire outglobal_o;
    (* is_clock=1, lineinfo="@3(97[9],97[19])" *) wire game_clock;
    
    wire rgb_c_4, rgb_c_3, n722, rgb_c_0, hsync_c, vsync_c, ctrlr_latch_c, 
        ctrlr_clk_c;
    (* lineinfo="@3(83[9],83[12])" *) wire [9:0]row;
    (* lineinfo="@3(84[9],84[12])" *) wire [9:0]col;
    
    wire GND_net, n730, VCC_net, n2155, n218, rgb_c_3_N_65, n42, 
        rgb_c_4_N_63, n1168, rgb_c_0_N_70;
    
    VLO i1 (.Z(GND_net));
    (* lineinfo="@3(123[11],123[14])" *) vga my_vga (Open_0, row[8], Open_1, 
            Open_2, Open_3, Open_4, Open_5, Open_6, Open_7, Open_8, 
            row[9], vsync_c, GND_net, Open_9, Open_10, Open_11, 
            col[6], col[5], col[4], Open_12, Open_13, Open_14, Open_15, 
            outglobal_o, col[7], hsync_c, row[7], row[6], row[4], 
            n42, n1168, {n218}, rgb_c_0, rgb_c_3_N_65, rgb_c_3, 
            rgb_c_4_N_63, n722, rgb_c_4, row[5], n2155, n730, rgb_c_0_N_70);
    (* lineinfo="@3(114[19],114[30])" *) pattern_gen my_pattern_gen (row[5], 
            row[4], {n218}, row[7], n722, col[6], n2155, col[5], 
            col[7], col[4], row[6], n42, row[8], n730, rgb_c_0_N_70, 
            rgb_c_0, game_clock, outglobal_o, row[9], rgb_c_4_N_63, 
            rgb_c_3_N_65, n1168);
    (* lineinfo="@3(7[3],7[6])" *) IB osc_pad (.I(osc), .O(osc_c));
    (* lineinfo="@3(13[3],13[12])" *) OB ctrlr_clk_pad (.I(ctrlr_clk_c), .O(ctrlr_clk));
    (* lineinfo="@3(12[3],12[14])" *) OB ctrlr_latch_pad (.I(ctrlr_latch_c), 
            .O(ctrlr_latch));
    (* lineinfo="@3(11[3],11[11])" *) OB clk_test_pad (.I(clk_test_c), .O(clk_test));
    (* lineinfo="@3(10[3],10[8])" *) OB vsync_pad (.I(vsync_c), .O(vsync));
    (* lineinfo="@3(106[11],106[24])" *) pll_component my_pll (GND_net, osc_c, 
            clk_test_c, outglobal_o);
    (* lineinfo="@3(9[3],9[8])" *) OB hsync_pad (.I(hsync_c), .O(hsync));
    (* lineinfo="@3(8[3],8[6])" *) OB \rgb_pad[0]  (.I(rgb_c_0), .O(rgb[0]));
    (* lineinfo="@3(8[3],8[6])" *) OB \rgb_pad[1]  (.I(rgb_c_4), .O(rgb[1]));
    (* lineinfo="@3(8[3],8[6])" *) OB \rgb_pad[2]  (.I(rgb_c_3), .O(rgb[2]));
    (* lineinfo="@3(8[3],8[6])" *) OB \rgb_pad[3]  (.I(rgb_c_3), .O(rgb[3]));
    (* lineinfo="@3(8[3],8[6])" *) OB \rgb_pad[4]  (.I(rgb_c_4), .O(rgb[4]));
    (* lineinfo="@3(8[3],8[6])" *) OB \rgb_pad[5]  (.I(rgb_c_4), .O(rgb[5]));
    (* lineinfo="@3(104[17],104[22])" *) clock clock_device (GND_net, outglobal_o, 
            ctrlr_latch_c, ctrlr_clk_c, game_clock);
    VHI i1758 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module vga
//

module vga (output \row[9] , output \row[8] , output \row[7] , output \row[6] , 
            output \row[5] , output \row[4] , output \row[3] , output \row[2] , 
            output \row[1] , output \row[0] , output \row[9]_2 , output vsync_c, 
            input GND_net, output \col[9] , output \col[8] , output \col[7] , 
            output \col[6] , output \col[5] , output \col[4] , output \col[3] , 
            output \col[2] , output \col[1] , output \col[0] , input outglobal_o, 
            output \col[7]_2 , output hsync_c, output \row[7]_2 , output \row[6]_2 , 
            output \row[4]_2 , output n42, input n1168, output [0:0]n217, 
            input rgb_c_0, input rgb_c_3_N_65, output rgb_c_3, output rgb_c_4_N_63, 
            input n722, output rgb_c_4, output \row[5]_2 , output n2155, 
            output n730, output rgb_c_0_N_70);
    
    (* is_clock=1, lineinfo="@3(81[9],81[20])" *) wire outglobal_o;
    
    wire n883;
    (* lineinfo="@3(83[9],83[12])" *) wire [9:0]row;
    
    wire vsync_c_N_73, vsync_c_N_72, vsync_c_N_74, n1390, n2263;
    wire [9:0]row_9__N_1;
    
    wire hsync_c_N_71;
    wire [9:0]col_9__N_31;
    (* lineinfo="@3(84[9],84[12])" *) wire [9:0]col;
    
    wire col_0__N_50, row_0__N_30, n1388, n2260, n1677, n48, n689, 
        n10, rgb_c_3_N_66, n4, n1345, n2266, n1347, rgb_c_4_N_64, 
        n1386, n2257, n8, n7, n12, n1384, n2254, n1353, n2278, 
        n1351, n2275, n1349, n2272, n1382, n2251, n2248, VCC_net, 
        n2269, n2245;
    
    (* lut_function="(A (B ((D)+!C)+!B !(C+(D)))+!A !(C+(D)))" *) LUT4 i25_3_lut_4_lut (.A(\row[8] ), 
            .B(n883), .C(row[1]), .D(row[2]), .Z(vsync_c_N_73));
    defparam i25_3_lut_4_lut.INIT = "0x880f";
    (* lut_function="((B+(C+!(D)))+!A)", lineinfo="@3(83[9],83[12])" *) LUT4 vsync_c_I_0 (.A(vsync_c_N_72), 
            .B(\row[9]_2 ), .C(vsync_c_N_73), .D(vsync_c_N_74), .Z(vsync_c));
    defparam vsync_c_I_0.INIT = "0xfdff";
    FA2 row_temp_85_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(\row[9]_2 ), 
        .D0(n1390), .CI0(n1390), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n2263), .CI1(n2263), .CO0(n2263), .S0(row_9__N_1[9]));
    defparam row_temp_85_add_4_11.INIT0 = "0xc33c";
    defparam row_temp_85_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(!(A (B (C))+!A !(B+(C))))" *) LUT4 i34_3_lut (.A(\col[6] ), 
            .B(\col[4] ), .C(\col[5] ), .Z(hsync_c_N_71));
    defparam i34_3_lut.INIT = "0x7e7e";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_0 (.D(row_9__N_1[9]), .SP(col_0__N_50), 
            .CK(outglobal_o), .SR(row_0__N_30), .Q(\row[9]_2 ));
    defparam row_9__I_0.REGSET = "RESET";
    defparam row_9__I_0.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_5 (.D(row_9__N_1[4]), .SP(col_0__N_50), 
            .CK(outglobal_o), .SR(row_0__N_30), .Q(\row[4]_2 ));
    defparam row_9__I_5.REGSET = "RESET";
    defparam row_9__I_5.SRMODE = "CE_OVER_LSR";
    (* lut_function="(((C+!(D))+!B)+!A)" *) LUT4 col_9__I_0 (.A(col[9]), .B(\col[7]_2 ), 
            .C(col[8]), .D(hsync_c_N_71), .Z(hsync_c));
    defparam col_9__I_0.INIT = "0xf7ff";
    FA2 row_temp_85_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(\row[7]_2 ), 
        .D0(n1388), .CI0(n1388), .A1(GND_net), .B1(GND_net), .C1(\row[8] ), 
        .D1(n2260), .CI1(n2260), .CO0(n2260), .CO1(n1390), .S0(row_9__N_1[7]), 
        .S1(row_9__N_1[8]));
    defparam row_temp_85_add_4_9.INIT0 = "0xc33c";
    defparam row_temp_85_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(\row[9]_2 ), .B(col[8]), 
            .Z(n1677));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_33 (.A(\row[7]_2 ), .B(\row[6]_2 ), 
            .Z(n883));
    defparam i1_2_lut_adj_33.INIT = "0x8888";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_34 (.A(row[2]), .B(row[1]), 
            .Z(n48));
    defparam i1_2_lut_adj_34.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3_4_lut (.A(\row[4]_2 ), .B(row[3]), 
            .C(row[0]), .D(n48), .Z(n42));
    defparam i3_4_lut.INIT = "0xfffe";
    (* lut_function="((B+(C+(D)))+!A)" *) LUT4 i4_4_lut (.A(vsync_c_N_72), 
            .B(n689), .C(\col[5] ), .D(n42), .Z(n10));
    defparam i4_4_lut.INIT = "0xfffd";
    (* lut_function="(!(A (B+!(C+(D)))+!A (B)))" *) LUT4 i1_4_lut (.A(\col[7]_2 ), 
            .B(n1168), .C(n10), .D(n1677), .Z(n217[0]));
    defparam i1_4_lut.INIT = "0x3331";
    (* lut_function="(A (B+!(C+!(D)))+!A (B))", lineinfo="@3(84[9],84[12])" *) LUT4 col_6__I_0 (.A(\col[6] ), 
            .B(rgb_c_0), .C(rgb_c_3_N_65), .D(rgb_c_3_N_66), .Z(rgb_c_3));
    defparam col_6__I_0.INIT = "0xcecc";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_6 (.D(row_9__N_1[3]), .SP(col_0__N_50), 
            .CK(outglobal_o), .SR(row_0__N_30), .Q(row[3]));
    defparam row_9__I_6.REGSET = "RESET";
    defparam row_9__I_6.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1400_4_lut (.A(col[8]), .B(col[9]), 
            .C(\row[8] ), .D(\row[9]_2 ), .Z(rgb_c_4_N_63));
    defparam i1400_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_35 (.A(\row[6]_2 ), .B(\col[4] ), 
            .Z(n4));
    defparam i1_2_lut_adj_35.INIT = "0x8888";
    (* lut_function="(!(A+((C+!(D))+!B)))" *) LUT4 i2_4_lut (.A(n722), .B(n4), 
            .C(\col[5] ), .D(\row[4]_2 ), .Z(rgb_c_3_N_66));
    defparam i2_4_lut.INIT = "0x0400";
    FA2 col_temp_84_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(col[1]), 
        .D0(n1345), .CI0(n1345), .A1(GND_net), .B1(GND_net), .C1(col[2]), 
        .D1(n2266), .CI1(n2266), .CO0(n2266), .CO1(n1347), .S0(col_9__N_31[1]), 
        .S1(col_9__N_31[2]));
    defparam col_temp_84_add_4_3.INIT0 = "0xc33c";
    defparam col_temp_84_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A (C+(D))+!A (B (C)))", lineinfo="@3(84[9],84[12])" *) LUT4 i61_4_lut (.A(\col[7]_2 ), 
            .B(rgb_c_3_N_66), .C(\col[6] ), .D(\col[5] ), .Z(rgb_c_4_N_64));
    defparam i61_4_lut.INIT = "0xeae0";
    (* lut_function="(A (B)+!A (B+!(C+(D))))", lineinfo="@3(84[9],84[12])" *) LUT4 rgb_c_4_I_0 (.A(rgb_c_4_N_63), 
            .B(rgb_c_0), .C(\row[9]_2 ), .D(rgb_c_4_N_64), .Z(rgb_c_4));
    defparam rgb_c_4_I_0.INIT = "0xcccd";
    FA2 row_temp_85_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(\row[5]_2 ), 
        .D0(n1386), .CI0(n1386), .A1(GND_net), .B1(GND_net), .C1(\row[6]_2 ), 
        .D1(n2257), .CI1(n2257), .CO0(n2257), .CO1(n1388), .S0(row_9__N_1[5]), 
        .S1(row_9__N_1[6]));
    defparam row_temp_85_add_4_7.INIT0 = "0xc33c";
    defparam row_temp_85_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_36 (.A(\row[4]_2 ), 
            .B(row[3]), .Z(vsync_c_N_74));
    defparam i1_2_lut_adj_36.INIT = "0x4444";
    (* lut_function="(A (B))" *) LUT4 i1_rep_18_2_lut (.A(\col[5] ), .B(\col[4] ), 
            .Z(n2155));
    defparam i1_rep_18_2_lut.INIT = "0x8888";
    (* lut_function="(!(((C+(D))+!B)+!A))" *) LUT4 i2_4_lut_adj_37 (.A(row[2]), 
            .B(col_0__N_50), .C(n730), .D(row[1]), .Z(n8));
    defparam i2_4_lut_adj_37.INIT = "0x0008";
    (* lut_function="(!(((C+!(D))+!B)+!A))" *) LUT4 i5_4_lut (.A(\row[9]_2 ), 
            .B(n7), .C(\row[8] ), .D(n8), .Z(row_0__N_30));
    defparam i5_4_lut.INIT = "0x0800";
    (* lut_function="(A+((C+(D))+!B))", lineinfo="@7(25[7],25[21])" *) LUT4 i5_4_lut_adj_38 (.A(col[2]), 
            .B(col[9]), .C(col[3]), .D(\col[6] ), .Z(n12));
    defparam i5_4_lut_adj_38.INIT = "0xfffb";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@7(25[7],25[21])" *) LUT4 i6_4_lut (.A(col[1]), 
            .B(n12), .C(\col[4] ), .D(col[0]), .Z(n689));
    defparam i6_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+(((D)+!C)+!B)))", lineinfo="@7(25[7],25[21])" *) LUT4 i1532_4_lut (.A(\col[7]_2 ), 
            .B(\col[5] ), .C(col[8]), .D(n689), .Z(col_0__N_50));
    defparam i1532_4_lut.INIT = "0x0040";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_1 (.D(row_9__N_1[8]), .SP(col_0__N_50), 
            .CK(outglobal_o), .SR(row_0__N_30), .Q(\row[8] ));
    defparam row_9__I_1.REGSET = "RESET";
    defparam row_9__I_1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_7 (.D(row_9__N_1[2]), .SP(col_0__N_50), 
            .CK(outglobal_o), .SR(row_0__N_30), .Q(row[2]));
    defparam row_9__I_7.REGSET = "RESET";
    defparam row_9__I_7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_2 (.D(row_9__N_1[7]), .SP(col_0__N_50), 
            .CK(outglobal_o), .SR(row_0__N_30), .Q(\row[7]_2 ));
    defparam row_9__I_2.REGSET = "RESET";
    defparam row_9__I_2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_3 (.D(row_9__N_1[6]), .SP(col_0__N_50), 
            .CK(outglobal_o), .SR(row_0__N_30), .Q(\row[6]_2 ));
    defparam row_9__I_3.REGSET = "RESET";
    defparam row_9__I_3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_4 (.D(row_9__N_1[5]), .SP(col_0__N_50), 
            .CK(outglobal_o), .SR(row_0__N_30), .Q(\row[5]_2 ));
    defparam row_9__I_4.REGSET = "RESET";
    defparam row_9__I_4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_8 (.D(row_9__N_1[1]), .SP(col_0__N_50), 
            .CK(outglobal_o), .SR(row_0__N_30), .Q(row[1]));
    defparam row_9__I_8.REGSET = "RESET";
    defparam row_9__I_8.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C (D))))" *) LUT4 i2_4_lut_adj_39 (.A(n1677), 
            .B(col[9]), .C(n42), .D(vsync_c_N_72), .Z(rgb_c_0_N_70));
    defparam i2_4_lut_adj_39.INIT = "0xfeee";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_9 (.D(row_9__N_1[0]), .SP(col_0__N_50), 
            .CK(outglobal_o), .SR(row_0__N_30), .Q(row[0]));
    defparam row_9__I_9.REGSET = "RESET";
    defparam row_9__I_9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_0_2 (.D(col_9__N_31[9]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(col_0__N_50), .Q(col[9]));
    defparam col_9__I_0_2.REGSET = "RESET";
    defparam col_9__I_0_2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_10 (.D(col_9__N_31[8]), .SP(VCC_net), 
            .CK(outglobal_o), .SR(col_0__N_50), .Q(col[8]));
    defparam col_9__I_10.REGSET = "RESET";
    defparam col_9__I_10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_11 (.D(col_9__N_31[7]), .SP(VCC_net), 
            .CK(outglobal_o), .SR(col_0__N_50), .Q(\col[7]_2 ));
    defparam col_9__I_11.REGSET = "RESET";
    defparam col_9__I_11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_12 (.D(col_9__N_31[6]), .SP(VCC_net), 
            .CK(outglobal_o), .SR(col_0__N_50), .Q(\col[6] ));
    defparam col_9__I_12.REGSET = "RESET";
    defparam col_9__I_12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_13 (.D(col_9__N_31[5]), .SP(VCC_net), 
            .CK(outglobal_o), .SR(col_0__N_50), .Q(\col[5] ));
    defparam col_9__I_13.REGSET = "RESET";
    defparam col_9__I_13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_14 (.D(col_9__N_31[4]), .SP(VCC_net), 
            .CK(outglobal_o), .SR(col_0__N_50), .Q(\col[4] ));
    defparam col_9__I_14.REGSET = "RESET";
    defparam col_9__I_14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_15 (.D(col_9__N_31[3]), .SP(VCC_net), 
            .CK(outglobal_o), .SR(col_0__N_50), .Q(col[3]));
    defparam col_9__I_15.REGSET = "RESET";
    defparam col_9__I_15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_16 (.D(col_9__N_31[2]), .SP(VCC_net), 
            .CK(outglobal_o), .SR(col_0__N_50), .Q(col[2]));
    defparam col_9__I_16.REGSET = "RESET";
    defparam col_9__I_16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_17 (.D(col_9__N_31[1]), .SP(VCC_net), 
            .CK(outglobal_o), .SR(col_0__N_50), .Q(col[1]));
    defparam col_9__I_17.REGSET = "RESET";
    defparam col_9__I_17.SRMODE = "CE_OVER_LSR";
    FA2 row_temp_85_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(row[3]), 
        .D0(n1384), .CI0(n1384), .A1(GND_net), .B1(GND_net), .C1(\row[4]_2 ), 
        .D1(n2254), .CI1(n2254), .CO0(n2254), .CO1(n1386), .S0(row_9__N_1[3]), 
        .S1(row_9__N_1[4]));
    defparam row_temp_85_add_4_5.INIT0 = "0xc33c";
    defparam row_temp_85_add_4_5.INIT1 = "0xc33c";
    FA2 col_temp_84_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(col[9]), 
        .D0(n1353), .CI0(n1353), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n2278), .CI1(n2278), .CO0(n2278), .S0(col_9__N_31[9]));
    defparam col_temp_84_add_4_11.INIT0 = "0xc33c";
    defparam col_temp_84_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(!(A+!(B (C))))" *) LUT4 i1_2_lut_3_lut (.A(\row[4]_2 ), 
            .B(row[3]), .C(row[0]), .Z(n7));
    defparam i1_2_lut_3_lut.INIT = "0x4040";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_2_lut_3_lut_adj_40 (.A(\row[6]_2 ), 
            .B(\row[7]_2 ), .C(\row[5]_2 ), .Z(n730));
    defparam i1_2_lut_3_lut_adj_40.INIT = "0xfefe";
    FA2 col_temp_84_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(\col[7]_2 ), 
        .D0(n1351), .CI0(n1351), .A1(GND_net), .B1(GND_net), .C1(col[8]), 
        .D1(n2275), .CI1(n2275), .CO0(n2275), .CO1(n1353), .S0(col_9__N_31[7]), 
        .S1(col_9__N_31[8]));
    defparam col_temp_84_add_4_9.INIT0 = "0xc33c";
    defparam col_temp_84_add_4_9.INIT1 = "0xc33c";
    FA2 col_temp_84_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(\col[5] ), 
        .D0(n1349), .CI0(n1349), .A1(GND_net), .B1(GND_net), .C1(\col[6] ), 
        .D1(n2272), .CI1(n2272), .CO0(n2272), .CO1(n1351), .S0(col_9__N_31[5]), 
        .S1(col_9__N_31[6]));
    defparam col_temp_84_add_4_7.INIT0 = "0xc33c";
    defparam col_temp_84_add_4_7.INIT1 = "0xc33c";
    FA2 row_temp_85_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(row[1]), 
        .D0(n1382), .CI0(n1382), .A1(GND_net), .B1(GND_net), .C1(row[2]), 
        .D1(n2251), .CI1(n2251), .CO0(n2251), .CO1(n1384), .S0(row_9__N_1[1]), 
        .S1(row_9__N_1[2]));
    defparam row_temp_85_add_4_3.INIT0 = "0xc33c";
    defparam row_temp_85_add_4_3.INIT1 = "0xc33c";
    FA2 row_temp_85_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(row[0]), .D1(n2248), .CI1(n2248), 
        .CO0(n2248), .CO1(n1382), .S1(row_9__N_1[0]));
    defparam row_temp_85_add_4_1.INIT0 = "0xc33c";
    defparam row_temp_85_add_4_1.INIT1 = "0xc33c";
    FA2 col_temp_84_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(col[3]), 
        .D0(n1347), .CI0(n1347), .A1(GND_net), .B1(GND_net), .C1(\col[4] ), 
        .D1(n2269), .CI1(n2269), .CO0(n2269), .CO1(n1349), .S0(col_9__N_31[3]), 
        .S1(col_9__N_31[4]));
    defparam col_temp_84_add_4_5.INIT0 = "0xc33c";
    defparam col_temp_84_add_4_5.INIT1 = "0xc33c";
    FA2 col_temp_84_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(col[0]), .D1(n2245), .CI1(n2245), 
        .CO0(n2245), .CO1(n1345), .S1(col_9__N_31[0]));
    defparam col_temp_84_add_4_1.INIT0 = "0xc33c";
    defparam col_temp_84_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A (B (C (D))))" *) LUT4 i2_3_lut_4_lut (.A(\row[8] ), 
            .B(\row[7]_2 ), .C(\row[6]_2 ), .D(\row[5]_2 ), .Z(vsync_c_N_72));
    defparam i2_3_lut_4_lut.INIT = "0x8000";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_18 (.D(col_9__N_31[0]), .SP(VCC_net), 
            .CK(outglobal_o), .SR(col_0__N_50), .Q(col[0]));
    defparam col_9__I_18.REGSET = "RESET";
    defparam col_9__I_18.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module pattern_gen
//

module pattern_gen (input \row[5] , input \row[4] , input [0:0]n217, input \row[7] , 
            output n722, input \col[6] , input n2155, input \col[5] , 
            input \col[7] , input \col[4] , input \row[6] , input n42, 
            input \row[8] , input n730, input rgb_c_0_N_70, output rgb_c_0, 
            input game_clock, input outglobal_o, input \row[9] , input rgb_c_4_N_63, 
            output rgb_c_3_N_65, output n1168);
    
    (* is_clock=1, lineinfo="@3(97[9],97[19])" *) wire game_clock;
    (* is_clock=1, lineinfo="@3(81[9],81[20])" *) wire outglobal_o;
    (* lineinfo="@5(33[9],33[21])" *) wire [3:0]top_left_row;
    
    wire n4, n4_adj_80, n376;
    wire [3:0]n234;
    
    wire n362, n10, n11, n1572, n1772, n6, n2150, n6_adj_81, 
        n2146, n12, n8, n10_adj_82, rgb_c_0_N_69, rgb_c_0_N_68, 
        rgb_c_0_N_67;
    wire [3:0]top_left_row_3__N_59;
    
    wire VCC_net, GND_net;
    
    (* lut_function="(A (B ((D)+!C)+!B !(C+!(D)))+!A (B+!(C)))", lineinfo="@5(54[10],54[53])" *) LUT4 LessThan_6_i4_4_lut (.A(top_left_row[0]), 
            .B(\row[5] ), .C(top_left_row[1]), .D(\row[4] ), .Z(n4));
    defparam LessThan_6_i4_4_lut.INIT = "0xcf4d";
    (* lut_function="(!(A (B (C (D))+!B (C+(D)))+!A ((C)+!B)))", lineinfo="@5(55[13],55[109])" *) LUT4 LessThan_8_i4_4_lut (.A(top_left_row[0]), 
            .B(top_left_row[1]), .C(\row[5] ), .D(\row[4] ), .Z(n4_adj_80));
    defparam LessThan_8_i4_4_lut.INIT = "0x0c8e";
    (* lut_function="(!(A (B (C))+!A !(B (C))))", lineinfo="@5(69[4],89[11])" *) LUT4 i201_3_lut (.A(top_left_row[3]), 
            .B(top_left_row[2]), .C(n376), .Z(n234[3]));
    defparam i201_3_lut.INIT = "0x6a6a";
    (* lut_function="(A (B))", lineinfo="@5(55[43],55[89])" *) LUT4 i175_2_lut (.A(top_left_row[3]), 
            .B(top_left_row[2]), .Z(n362));
    defparam i175_2_lut.INIT = "0x8888";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@5(69[4],89[11])" *) LUT4 i179_2_lut (.A(top_left_row[0]), 
            .B(n217[0]), .Z(n234[0]));
    defparam i179_2_lut.INIT = "0x6666";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(\row[7] ), .B(\row[5] ), 
            .Z(n722));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A (B (C (D)+!C !(D)))+!A (B+(C (D)+!C !(D)))))" *) LUT4 i3_4_lut (.A(\row[4] ), 
            .B(top_left_row[0]), .C(\col[6] ), .D(n2155), .Z(n10));
    defparam i3_4_lut.INIT = "0x2bb2";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C))+!A !(C)))" *) LUT4 i4_4_lut (.A(\col[6] ), 
            .B(\col[5] ), .C(\col[7] ), .D(\col[4] ), .Z(n11));
    defparam i4_4_lut.INIT = "0x78f0";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))+!A !(B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))))" *) LUT4 i6_4_lut (.A(n11), 
            .B(\row[5] ), .C(n10), .D(top_left_row[1]), .Z(n1572));
    defparam i6_4_lut.INIT = "0x6996";
    (* lut_function="(A (B (C+(D))+!B (C))+!A (C (D)))" *) LUT4 i1392_4_lut (.A(\col[6] ), 
            .B(\col[4] ), .C(\col[7] ), .D(\col[5] ), .Z(n1772));
    defparam i1392_4_lut.INIT = "0xf8a0";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@5(54[10],54[53])" *) LUT4 LessThan_6_i6_3_lut (.A(n4), 
            .B(\row[6] ), .C(top_left_row[2]), .Z(n6));
    defparam LessThan_6_i6_3_lut.INIT = "0x8e8e";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i1_rep_13_2_lut (.A(\row[4] ), 
            .B(top_left_row[0]), .Z(n2150));
    defparam i1_rep_13_2_lut.INIT = "0x6666";
    (* lut_function="(!(A ((C)+!B)+!A !(B+!(C))))", lineinfo="@5(55[13],55[109])" *) LUT4 LessThan_8_i6_3_lut (.A(top_left_row[2]), 
            .B(n4_adj_80), .C(\row[6] ), .Z(n6_adj_81));
    defparam LessThan_8_i6_3_lut.INIT = "0x4d4d";
    (* lut_function="(A+(B (C)))", lineinfo="@5(58[16],58[43])" *) LUT4 i154_rep_9_3_lut (.A(\col[6] ), 
            .B(\col[5] ), .C(\col[4] ), .Z(n2146));
    defparam i154_rep_9_3_lut.INIT = "0xeaea";
    (* lut_function="(!(A ((C)+!B)+!A ((C (D))+!B)))" *) LUT4 i3_4_lut_adj_31 (.A(n42), 
            .B(n1572), .C(\row[8] ), .D(n730), .Z(n12));
    defparam i3_4_lut_adj_31.INIT = "0x0c4c";
    (* lut_function="(!(A (B (C (D))+!B !((D)+!C))+!A (B (C+(D))+!B (C+!(D)))))", lineinfo="@5(55[13],55[109])" *) LUT4 LessThan_8_i8_4_lut (.A(n6_adj_81), 
            .B(top_left_row[3]), .C(\row[7] ), .D(top_left_row[2]), .Z(n8));
    defparam LessThan_8_i8_4_lut.INIT = "0x2b8e";
    (* lut_function="(A (B (C+!(D)))+!A !(((D)+!C)+!B))" *) LUT4 i5_4_lut (.A(n6), 
            .B(n10_adj_82), .C(\row[7] ), .D(top_left_row[3]), .Z(rgb_c_0_N_69));
    defparam i5_4_lut.INIT = "0x80c8";
    (* lut_function="(A (C)+!A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D))))", lineinfo="@5(57[10],58[79])" *) LUT4 i1472_4_lut (.A(\col[4] ), 
            .B(n2150), .C(\col[5] ), .D(\col[6] ), .Z(rgb_c_0_N_68));
    defparam i1472_4_lut.INIT = "0xe1b4";
    (* lut_function="(A (B (C))+!A (B (C (D))))" *) LUT4 i6_4_lut_adj_32 (.A(n8), 
            .B(n12), .C(n2146), .D(n362), .Z(rgb_c_0_N_67));
    defparam i6_4_lut_adj_32.INIT = "0xc080";
    (* lut_function="(!((B+((D)+!C))+!A))" *) LUT4 rgb_c_0_I_0 (.A(rgb_c_0_N_67), 
            .B(rgb_c_0_N_68), .C(rgb_c_0_N_69), .D(rgb_c_0_N_70), .Z(rgb_c_0));
    defparam rgb_c_0_I_0.INIT = "0x0020";
    (* LSE_LINE_FILE_ID=91, LSE_LCOL=19, LSE_RCOL=30, LSE_LLINE=114, LSE_RLINE=114, lineinfo="@5(69[4],89[11])" *) FD1P3XZ top_left_row_2_i3 (.D(n234[3]), 
            .SP(VCC_net), .CK(game_clock), .SR(GND_net), .Q(top_left_row_3__N_59[3]));
    defparam top_left_row_2_i3.REGSET = "RESET";
    defparam top_left_row_2_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=91, LSE_LCOL=19, LSE_RCOL=30, LSE_LLINE=114, LSE_RLINE=114, lineinfo="@5(69[4],89[11])" *) FD1P3XZ top_left_row_2_i2 (.D(n234[2]), 
            .SP(VCC_net), .CK(game_clock), .SR(GND_net), .Q(top_left_row_3__N_59[2]));
    defparam top_left_row_2_i2.REGSET = "RESET";
    defparam top_left_row_2_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=91, LSE_LCOL=19, LSE_RCOL=30, LSE_LLINE=114, LSE_RLINE=114, lineinfo="@5(69[4],89[11])" *) FD1P3XZ top_left_row_2_i1 (.D(n234[1]), 
            .SP(VCC_net), .CK(game_clock), .SR(GND_net), .Q(top_left_row_3__N_59[1]));
    defparam top_left_row_2_i1.REGSET = "RESET";
    defparam top_left_row_2_i1.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=19, LSE_RCOL=30, LSE_LLINE=114, LSE_RLINE=114, lineinfo="@5(68[3],90[10])" *) FD1P3XZ top_left_row_3__I_0 (.D(top_left_row_3__N_59[3]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net), .Q(top_left_row[3]));
    defparam top_left_row_3__I_0.REGSET = "RESET";
    defparam top_left_row_3__I_0.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=19, LSE_RCOL=30, LSE_LLINE=114, LSE_RLINE=114, lineinfo="@5(68[3],90[10])" *) FD1P3XZ top_left_row_3__I_26 (.D(top_left_row_3__N_59[2]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net), .Q(top_left_row[2]));
    defparam top_left_row_3__I_26.REGSET = "RESET";
    defparam top_left_row_3__I_26.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=19, LSE_RCOL=30, LSE_LLINE=114, LSE_RLINE=114, lineinfo="@5(68[3],90[10])" *) FD1P3XZ top_left_row_3__I_27 (.D(top_left_row_3__N_59[1]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net), .Q(top_left_row[1]));
    defparam top_left_row_3__I_27.REGSET = "RESET";
    defparam top_left_row_3__I_27.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=19, LSE_RCOL=30, LSE_LLINE=114, LSE_RLINE=114, lineinfo="@5(68[3],90[10])" *) FD1P3XZ top_left_row_3__I_28 (.D(top_left_row_3__N_59[0]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net), .Q(top_left_row[0]));
    defparam top_left_row_3__I_28.REGSET = "RESET";
    defparam top_left_row_3__I_28.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1404_2_lut_3_lut (.A(\row[9] ), 
            .B(\col[7] ), .C(rgb_c_4_N_63), .Z(rgb_c_3_N_65));
    defparam i1404_2_lut_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B (C)))" *) LUT4 i916_2_lut_3_lut (.A(top_left_row[1]), 
            .B(top_left_row[3]), .C(top_left_row[2]), .Z(n1168));
    defparam i916_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(!(A+(B+(C))))" *) LUT4 i1_2_lut_3_lut (.A(\row[9] ), 
            .B(\col[7] ), .C(n1772), .Z(n10_adj_82));
    defparam i1_2_lut_3_lut.INIT = "0x0101";
    (* lut_function="(!(A (B (C)+!B !(C))+!A !(C)))", lineinfo="@5(69[4],89[11])" *) LUT4 i187_2_lut_3_lut (.A(top_left_row[0]), 
            .B(n217[0]), .C(top_left_row[1]), .Z(n234[1]));
    defparam i187_2_lut_3_lut.INIT = "0x7878";
    (* lut_function="(!(A (B (C (D)))+!A !(B (C (D)))))", lineinfo="@5(69[4],89[11])" *) LUT4 i194_2_lut_4_lut (.A(top_left_row[2]), 
            .B(top_left_row[0]), .C(n217[0]), .D(top_left_row[1]), .Z(n234[2]));
    defparam i194_2_lut_4_lut.INIT = "0x6aaa";
    (* lut_function="(A (B (C)))", lineinfo="@5(69[4],89[11])" *) LUT4 i189_2_lut_3_lut (.A(top_left_row[0]), 
            .B(n217[0]), .C(top_left_row[1]), .Z(n376));
    defparam i189_2_lut_3_lut.INIT = "0x8080";
    (* LSE_LINE_FILE_ID=91, LSE_LCOL=19, LSE_RCOL=30, LSE_LLINE=114, LSE_RLINE=114, lineinfo="@5(69[4],89[11])" *) FD1P3XZ top_left_row_2_i0 (.D(n234[0]), 
            .SP(VCC_net), .CK(game_clock), .SR(GND_net), .Q(top_left_row_3__N_59[0]));
    defparam top_left_row_2_i0.REGSET = "RESET";
    defparam top_left_row_2_i0.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net));
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module pll_component
//

module pll_component (input GND_net, input osc_c, output clk_test_c, output outglobal_o);
    
    (* is_clock=1, lineinfo="@3(7[3],7[6])" *) wire osc_c;
    (* is_clock=1, lineinfo="@3(11[3],11[11])" *) wire clk_test_c;
    (* is_clock=1, lineinfo="@3(81[9],81[20])" *) wire outglobal_o;
    
    (* lineinfo="@8(35[41],48[26])" *) \pll_component_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") lscc_pll_inst (GND_net, 
            osc_c, clk_test_c, outglobal_o);
    
endmodule

//
// Verilog Description of module \pll_component_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") 
//

module \pll_component_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") (input GND_net, 
            input osc_c, output clk_test_c, output outglobal_o);
    
    (* is_clock=1, lineinfo="@3(7[3],7[6])" *) wire osc_c;
    (* is_clock=1, lineinfo="@3(11[3],11[11])" *) wire clk_test_c;
    (* is_clock=1, lineinfo="@3(81[9],81[20])" *) wire outglobal_o;
    
    wire VCC_net, feedback_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=89, LSE_LCOL=41, LSE_RCOL=26, LSE_LLINE=35, LSE_RLINE=48, lineinfo="@8(35[41],48[26])" *) PLL_B u_PLL_B (.REFERENCECLK(osc_c), 
            .FEEDBACK(feedback_w), .DYNAMICDELAY7(GND_net), .DYNAMICDELAY6(GND_net), 
            .DYNAMICDELAY5(GND_net), .DYNAMICDELAY4(GND_net), .DYNAMICDELAY3(GND_net), 
            .DYNAMICDELAY2(GND_net), .DYNAMICDELAY1(GND_net), .DYNAMICDELAY0(GND_net), 
            .BYPASS(GND_net), .RESET_N(VCC_net), .SCLK(GND_net), .SDI(GND_net), 
            .LATCH(GND_net), .INTFBOUT(feedback_w), .OUTCORE(clk_test_c), 
            .OUTGLOBAL(outglobal_o));
    defparam u_PLL_B.FEEDBACK_PATH = "SIMPLE";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_FEEDBACK = "FIXED";
    defparam u_PLL_B.FDA_FEEDBACK = "0";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_RELATIVE = "FIXED";
    defparam u_PLL_B.FDA_RELATIVE = "0";
    defparam u_PLL_B.SHIFTREG_DIV_MODE = "0";
    defparam u_PLL_B.PLLOUT_SELECT_PORTA = "GENCLK";
    defparam u_PLL_B.PLLOUT_SELECT_PORTB = "GENCLK";
    defparam u_PLL_B.DIVR = "0";
    defparam u_PLL_B.DIVF = "66";
    defparam u_PLL_B.DIVQ = "5";
    defparam u_PLL_B.FILTER_RANGE = "1";
    defparam u_PLL_B.EXTERNAL_DIVIDE_FACTOR = "NONE";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTA = "0";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTB = "0";
    defparam u_PLL_B.TEST_MODE = "0";
    defparam u_PLL_B.FREQUENCY_PIN_REFERENCECLK = "12.000000";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module clock
//

module clock (input GND_net, input outglobal_o, output ctrlr_latch_c, 
            output ctrlr_clk_c, output game_clock);
    
    (* is_clock=1, lineinfo="@3(81[9],81[20])" *) wire outglobal_o;
    (* is_clock=1, lineinfo="@3(97[9],97[19])" *) wire game_clock;
    
    wire n1372, n2305, n8, n7, n1374;
    wire [24:0]NEScount_7__N_51;
    (* lineinfo="@3(99[9],99[17])" *) wire [7:0]NEScount;
    
    wire ctrlr_latch_c_N_76, n25, ctrlr_latch_c_N_75, NESclk, ctrlr_clk_c_N_77, 
        n1370, n2302, n9, n1368, n2299, n1366, n2296, n2, n3, 
        n4, n5, n6, n1364, n2293, n19, n20, n21, n22, n23, 
        n24, n1362, n2290, n1360, n2287, n1358, n2284, n1356, 
        n2281, n2239, VCC_net, n1378, n2314, n1376, n2311, n2308, 
        GND_net_2;
    
    FA2 counter_82_90_add_4_19 (.A0(GND_net), .B0(GND_net), .C0(n8), .D0(n1372), 
        .CI0(n1372), .A1(GND_net), .B1(GND_net), .C1(n7), .D1(n2305), 
        .CI1(n2305), .CO0(n2305), .CO1(n1374), .S0(NEScount_7__N_51[17]), 
        .S1(NEScount_7__N_51[18]));
    defparam counter_82_90_add_4_19.INIT0 = "0xc33c";
    defparam counter_82_90_add_4_19.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i2_2_lut (.A(NEScount[2]), .B(NEScount[5]), 
            .Z(ctrlr_latch_c_N_76));
    defparam i2_2_lut.INIT = "0x8888";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_29 (.D(NEScount_7__N_51[24]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(game_clock));
    defparam NEScount_7__I_29.REGSET = "RESET";
    defparam NEScount_7__I_29.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C (D))))" *) LUT4 i6_4_lut (.A(NEScount[7]), .B(NEScount[4]), 
            .C(NEScount[1]), .D(NEScount[0]), .Z(ctrlr_latch_c_N_75));
    defparam i6_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C (D))))" *) LUT4 NEScount_3__I_0 (.A(NEScount[3]), 
            .B(ctrlr_latch_c_N_75), .C(ctrlr_latch_c_N_76), .D(NEScount[6]), 
            .Z(ctrlr_latch_c));
    defparam NEScount_3__I_0.INIT = "0x8000";
    (* lut_function="((B+(C+(D)))+!A)" *) LUT4 i4_4_lut (.A(NESclk), .B(NEScount[3]), 
            .C(NEScount[5]), .D(NEScount[4]), .Z(ctrlr_clk_c_N_77));
    defparam i4_4_lut.INIT = "0xfffd";
    FA2 counter_82_90_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(NEScount[7]), 
        .D0(n1370), .CI0(n1370), .A1(GND_net), .B1(GND_net), .C1(n9), 
        .D1(n2302), .CI1(n2302), .CO0(n2302), .CO1(n1372), .S0(NEScount_7__N_51[15]), 
        .S1(NEScount_7__N_51[16]));
    defparam counter_82_90_add_4_17.INIT0 = "0xc33c";
    defparam counter_82_90_add_4_17.INIT1 = "0xc33c";
    (* lut_function="(!(A+(B+(C))))" *) LUT4 NEScount_6__I_0 (.A(NEScount[6]), 
            .B(ctrlr_clk_c_N_77), .C(NEScount[7]), .Z(ctrlr_clk_c));
    defparam NEScount_6__I_0.INIT = "0x0101";
    FA2 counter_82_90_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(NEScount[5]), 
        .D0(n1368), .CI0(n1368), .A1(GND_net), .B1(GND_net), .C1(NEScount[6]), 
        .D1(n2299), .CI1(n2299), .CO0(n2299), .CO1(n1370), .S0(NEScount_7__N_51[13]), 
        .S1(NEScount_7__N_51[14]));
    defparam counter_82_90_add_4_15.INIT0 = "0xc33c";
    defparam counter_82_90_add_4_15.INIT1 = "0xc33c";
    FA2 counter_82_90_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(NEScount[3]), 
        .D0(n1366), .CI0(n1366), .A1(GND_net), .B1(GND_net), .C1(NEScount[4]), 
        .D1(n2296), .CI1(n2296), .CO0(n2296), .CO1(n1368), .S0(NEScount_7__N_51[11]), 
        .S1(NEScount_7__N_51[12]));
    defparam counter_82_90_add_4_13.INIT0 = "0xc33c";
    defparam counter_82_90_add_4_13.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_82_90__i24 (.D(NEScount_7__N_51[23]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(n2));
    defparam counter_82_90__i24.REGSET = "RESET";
    defparam counter_82_90__i24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_82_90__i23 (.D(NEScount_7__N_51[22]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(n3));
    defparam counter_82_90__i23.REGSET = "RESET";
    defparam counter_82_90__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_82_90__i22 (.D(NEScount_7__N_51[21]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(n4));
    defparam counter_82_90__i22.REGSET = "RESET";
    defparam counter_82_90__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_82_90__i21 (.D(NEScount_7__N_51[20]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(n5));
    defparam counter_82_90__i21.REGSET = "RESET";
    defparam counter_82_90__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_82_90__i20 (.D(NEScount_7__N_51[19]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(n6));
    defparam counter_82_90__i20.REGSET = "RESET";
    defparam counter_82_90__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_82_90__i19 (.D(NEScount_7__N_51[18]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(n7));
    defparam counter_82_90__i19.REGSET = "RESET";
    defparam counter_82_90__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_82_90__i18 (.D(NEScount_7__N_51[17]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(n8));
    defparam counter_82_90__i18.REGSET = "RESET";
    defparam counter_82_90__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_82_90__i17 (.D(NEScount_7__N_51[16]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(n9));
    defparam counter_82_90__i17.REGSET = "RESET";
    defparam counter_82_90__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_0 (.D(NEScount_7__N_51[15]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(NEScount[7]));
    defparam NEScount_7__I_0.REGSET = "RESET";
    defparam NEScount_7__I_0.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_19 (.D(NEScount_7__N_51[14]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(NEScount[6]));
    defparam NEScount_7__I_19.REGSET = "RESET";
    defparam NEScount_7__I_19.SRMODE = "CE_OVER_LSR";
    FA2 counter_82_90_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(NEScount[1]), 
        .D0(n1364), .CI0(n1364), .A1(GND_net), .B1(GND_net), .C1(NEScount[2]), 
        .D1(n2293), .CI1(n2293), .CO0(n2293), .CO1(n1366), .S0(NEScount_7__N_51[9]), 
        .S1(NEScount_7__N_51[10]));
    defparam counter_82_90_add_4_11.INIT0 = "0xc33c";
    defparam counter_82_90_add_4_11.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_20 (.D(NEScount_7__N_51[13]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(NEScount[5]));
    defparam NEScount_7__I_20.REGSET = "RESET";
    defparam NEScount_7__I_20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_21 (.D(NEScount_7__N_51[12]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(NEScount[4]));
    defparam NEScount_7__I_21.REGSET = "RESET";
    defparam NEScount_7__I_21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_22 (.D(NEScount_7__N_51[11]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(NEScount[3]));
    defparam NEScount_7__I_22.REGSET = "RESET";
    defparam NEScount_7__I_22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_23 (.D(NEScount_7__N_51[10]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(NEScount[2]));
    defparam NEScount_7__I_23.REGSET = "RESET";
    defparam NEScount_7__I_23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_24 (.D(NEScount_7__N_51[9]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(NEScount[1]));
    defparam NEScount_7__I_24.REGSET = "RESET";
    defparam NEScount_7__I_24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_25 (.D(NEScount_7__N_51[8]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(NEScount[0]));
    defparam NEScount_7__I_25.REGSET = "RESET";
    defparam NEScount_7__I_25.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_30 (.D(NEScount_7__N_51[7]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(NESclk));
    defparam NEScount_7__I_30.REGSET = "RESET";
    defparam NEScount_7__I_30.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_82_90__i7 (.D(NEScount_7__N_51[6]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(n19));
    defparam counter_82_90__i7.REGSET = "RESET";
    defparam counter_82_90__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_82_90__i6 (.D(NEScount_7__N_51[5]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(n20));
    defparam counter_82_90__i6.REGSET = "RESET";
    defparam counter_82_90__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_82_90__i5 (.D(NEScount_7__N_51[4]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(n21));
    defparam counter_82_90__i5.REGSET = "RESET";
    defparam counter_82_90__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_82_90__i4 (.D(NEScount_7__N_51[3]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(n22));
    defparam counter_82_90__i4.REGSET = "RESET";
    defparam counter_82_90__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_82_90__i3 (.D(NEScount_7__N_51[2]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(n23));
    defparam counter_82_90__i3.REGSET = "RESET";
    defparam counter_82_90__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_82_90__i2 (.D(NEScount_7__N_51[1]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(n24));
    defparam counter_82_90__i2.REGSET = "RESET";
    defparam counter_82_90__i2.SRMODE = "CE_OVER_LSR";
    FA2 counter_82_90_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(NESclk), 
        .D0(n1362), .CI0(n1362), .A1(GND_net), .B1(GND_net), .C1(NEScount[0]), 
        .D1(n2290), .CI1(n2290), .CO0(n2290), .CO1(n1364), .S0(NEScount_7__N_51[7]), 
        .S1(NEScount_7__N_51[8]));
    defparam counter_82_90_add_4_9.INIT0 = "0xc33c";
    defparam counter_82_90_add_4_9.INIT1 = "0xc33c";
    FA2 counter_82_90_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(n20), .D0(n1360), 
        .CI0(n1360), .A1(GND_net), .B1(GND_net), .C1(n19), .D1(n2287), 
        .CI1(n2287), .CO0(n2287), .CO1(n1362), .S0(NEScount_7__N_51[5]), 
        .S1(NEScount_7__N_51[6]));
    defparam counter_82_90_add_4_7.INIT0 = "0xc33c";
    defparam counter_82_90_add_4_7.INIT1 = "0xc33c";
    FA2 counter_82_90_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(n22), .D0(n1358), 
        .CI0(n1358), .A1(GND_net), .B1(GND_net), .C1(n21), .D1(n2284), 
        .CI1(n2284), .CO0(n2284), .CO1(n1360), .S0(NEScount_7__N_51[3]), 
        .S1(NEScount_7__N_51[4]));
    defparam counter_82_90_add_4_5.INIT0 = "0xc33c";
    defparam counter_82_90_add_4_5.INIT1 = "0xc33c";
    FA2 counter_82_90_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(n24), .D0(n1356), 
        .CI0(n1356), .A1(GND_net), .B1(GND_net), .C1(n23), .D1(n2281), 
        .CI1(n2281), .CO0(n2281), .CO1(n1358), .S0(NEScount_7__N_51[1]), 
        .S1(NEScount_7__N_51[2]));
    defparam counter_82_90_add_4_3.INIT0 = "0xc33c";
    defparam counter_82_90_add_4_3.INIT1 = "0xc33c";
    FA2 counter_82_90_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(n25), .D1(n2239), .CI1(n2239), 
        .CO0(n2239), .CO1(n1356), .S1(NEScount_7__N_51[0]));
    defparam counter_82_90_add_4_1.INIT0 = "0xc33c";
    defparam counter_82_90_add_4_1.INIT1 = "0xc33c";
    FA2 counter_82_90_add_4_25 (.A0(GND_net), .B0(GND_net), .C0(n2), .D0(n1378), 
        .CI0(n1378), .A1(GND_net), .B1(GND_net), .C1(game_clock), .D1(n2314), 
        .CI1(n2314), .CO0(n2314), .S0(NEScount_7__N_51[23]), .S1(NEScount_7__N_51[24]));
    defparam counter_82_90_add_4_25.INIT0 = "0xc33c";
    defparam counter_82_90_add_4_25.INIT1 = "0xc33c";
    FA2 counter_82_90_add_4_23 (.A0(GND_net), .B0(GND_net), .C0(n4), .D0(n1376), 
        .CI0(n1376), .A1(GND_net), .B1(GND_net), .C1(n3), .D1(n2311), 
        .CI1(n2311), .CO0(n2311), .CO1(n1378), .S0(NEScount_7__N_51[21]), 
        .S1(NEScount_7__N_51[22]));
    defparam counter_82_90_add_4_23.INIT0 = "0xc33c";
    defparam counter_82_90_add_4_23.INIT1 = "0xc33c";
    FA2 counter_82_90_add_4_21 (.A0(GND_net), .B0(GND_net), .C0(n6), .D0(n1374), 
        .CI0(n1374), .A1(GND_net), .B1(GND_net), .C1(n5), .D1(n2308), 
        .CI1(n2308), .CO0(n2308), .CO1(n1376), .S0(NEScount_7__N_51[19]), 
        .S1(NEScount_7__N_51[20]));
    defparam counter_82_90_add_4_21.INIT0 = "0xc33c";
    defparam counter_82_90_add_4_21.INIT1 = "0xc33c";
    VLO i2 (.Z(GND_net_2));
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_82_90__i1 (.D(NEScount_7__N_51[0]), 
            .SP(VCC_net), .CK(outglobal_o), .SR(GND_net_2), .Q(n25));
    defparam counter_82_90__i1.REGSET = "RESET";
    defparam counter_82_90__i1.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule
