// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2023.1.0.43.3
// Netlist written on Sun Dec  3 22:20:50 2023
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.v"
// file 1 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.vhd"
// file 2 "z:/es4/es4-final/vga test/impl_1/vhdl/clock.vhd"
// file 3 "z:/es4/es4-final/vga test/impl_1/vhdl/master.vhd"
// file 4 "z:/es4/es4-final/vga test/impl_1/vhdl/nes_controller.vhd"
// file 5 "z:/es4/es4-final/vga test/impl_1/vhdl/pattern_gen.vhd"
// file 6 "z:/es4/es4-final/vga test/impl_1/vhdl/piece.vhd"
// file 7 "z:/es4/es4-final/vga test/impl_1/vhdl/vga.vhd"
// file 8 "z:/es4/es4-final/vga test/pll_component/rtl/pll_component.v"
// file 9 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 10 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 11 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 12 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 13 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 14 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 15 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 16 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 17 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 18 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 19 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 20 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 21 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 22 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 23 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 24 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 25 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 26 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 27 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 28 "c:/lscc/radiant/2023.1/ip/avant/fifo/rtl/lscc_fifo.v"
// file 29 "c:/lscc/radiant/2023.1/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 30 "c:/lscc/radiant/2023.1/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 31 "c:/lscc/radiant/2023.1/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 32 "c:/lscc/radiant/2023.1/ip/avant/rom/rtl/lscc_rom.v"
// file 33 "c:/lscc/radiant/2023.1/ip/common/adder/rtl/lscc_adder.v"
// file 34 "c:/lscc/radiant/2023.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 35 "c:/lscc/radiant/2023.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 36 "c:/lscc/radiant/2023.1/ip/common/counter/rtl/lscc_cntr.v"
// file 37 "c:/lscc/radiant/2023.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 38 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 39 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 40 "c:/lscc/radiant/2023.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 41 "c:/lscc/radiant/2023.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 42 "c:/lscc/radiant/2023.1/ip/pmi/pmi_add.v"
// file 43 "c:/lscc/radiant/2023.1/ip/pmi/pmi_addsub.v"
// file 44 "c:/lscc/radiant/2023.1/ip/pmi/pmi_complex_mult.v"
// file 45 "c:/lscc/radiant/2023.1/ip/pmi/pmi_counter.v"
// file 46 "c:/lscc/radiant/2023.1/ip/pmi/pmi_dsp.v"
// file 47 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo.v"
// file 48 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo_dc.v"
// file 49 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mac.v"
// file 50 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mult.v"
// file 51 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsub.v"
// file 52 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsubsum.v"
// file 53 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp.v"
// file 54 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp_be.v"
// file 55 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq.v"
// file 56 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq_be.v"
// file 57 "c:/lscc/radiant/2023.1/ip/pmi/pmi_rom.v"
// file 58 "c:/lscc/radiant/2023.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module master
//

module master (input osc, output [5:0]rgb, output hsync, output vsync, 
            output ctrlr_latch, output ctrlr_clk, output rotate_out, input ctrlr_data);
    
    (* is_clock=1, lineinfo="@3(7[3],7[6])" *) wire osc_c;
    (* is_clock=1, lineinfo="@3(12[3],12[12])" *) wire ctrlr_clk_c;
    (* is_clock=1, lineinfo="@3(86[9],86[12])" *) wire clk;
    (* is_clock=1, lineinfo="@3(87[9],87[19])" *) wire game_clock;
    
    wire rgb_c_4, rgb_c_1, rgb_c_0, hsync_c, vsync_c, ctrlr_latch_c, 
        rotate_out_c, ctrlr_data_c;
    (* lineinfo="@3(73[9],73[12])" *) wire [9:0]row;
    (* lineinfo="@3(74[9],74[12])" *) wire [9:0]col;
    
    wire down_button;
    (* lineinfo="@3(89[9],89[17])" *) wire [7:0]NEScount;
    
    wire NESclk, VCC_net, GND_net;
    (* lineinfo="@5(52[9],52[20])" *) wire [3:0]piece_loc_y;
    
    wire n2903, n34, n103, n143, rgb_c_1_N_160, n6, rgb_c_0_N_165, 
        n2311, vsync_c_N_171, n951, n2677, n1133;
    
    VHI i4 (.Z(VCC_net));
    (* lineinfo="@3(108[16],108[19])" *) vga vga_portmap (GND_net, row[4], 
            row[8], Open_0, col[8], col[7], Open_1, col[5], col[4], 
            Open_2, Open_3, Open_4, Open_5, row[9], n1133, n2903, 
            n34, n2677, n2311, n6, n951, row[7], piece_loc_y[3], 
            rgb_c_1_N_160, col[9], col[6], vsync_c_N_171, n143, rgb_c_0_N_165, 
            clk, VCC_net, hsync_c, n103, vsync_c, row[6], row[5]);
    (* lineinfo="@3(110[27],110[41])" *) nes_controller nes_controller_portmap ({NEScount}, 
            ctrlr_clk_c, down_button, NESclk, ctrlr_data_c, ctrlr_latch_c, 
            rotate_out_c);
    (* lineinfo="@3(96[26],96[39])" *) clock_manager clock_manager_portmap (GND_net, 
            clk, {NEScount}, NESclk, VCC_net, game_clock, osc_c);
    VLO i1 (.Z(GND_net));
    (* lineinfo="@3(14[3],14[13])" *) IB ctrlr_data_pad (.I(ctrlr_data), .O(ctrlr_data_c));
    (* lineinfo="@3(7[3],7[6])" *) IB osc_pad (.I(osc), .O(osc_c));
    (* lineinfo="@3(13[3],13[13])" *) OB rotate_out_pad (.I(rotate_out_c), 
            .O(rotate_out));
    (* lineinfo="@3(12[3],12[12])" *) OB ctrlr_clk_pad (.I(ctrlr_clk_c), .O(ctrlr_clk));
    (* lineinfo="@3(11[3],11[14])" *) OB ctrlr_latch_pad (.I(ctrlr_latch_c), 
            .O(ctrlr_latch));
    (* lineinfo="@3(10[3],10[8])" *) OB vsync_pad (.I(vsync_c), .O(vsync));
    (* lineinfo="@3(9[3],9[8])" *) OB hsync_pad (.I(hsync_c), .O(hsync));
    (* lineinfo="@3(8[3],8[6])" *) OB \rgb_pad[0]  (.I(rgb_c_0), .O(rgb[0]));
    (* lineinfo="@3(8[3],8[6])" *) OB \rgb_pad[1]  (.I(rgb_c_1), .O(rgb[1]));
    (* lineinfo="@3(8[3],8[6])" *) OB \rgb_pad[2]  (.I(rgb_c_0), .O(rgb[2]));
    (* lineinfo="@3(8[3],8[6])" *) OB \rgb_pad[3]  (.I(rgb_c_4), .O(rgb[3]));
    (* lineinfo="@3(8[3],8[6])" *) OB \rgb_pad[4]  (.I(rgb_c_4), .O(rgb[4]));
    (* lineinfo="@3(8[3],8[6])" *) OB \rgb_pad[5]  (.I(rgb_c_4), .O(rgb[5]));
    (* lineinfo="@3(98[24],98[35])" *) pattern_gen pattern_gen_portmap (rgb_c_1_N_160, 
            rgb_c_0_N_165, rgb_c_1, n143, row[5], row[6], row[7], 
            n1133, GND_net, down_button, clk, n2677, piece_loc_y[3], 
            n34, row[4], n6, rotate_out_c, col[9], n951, col[8], 
            col[7], row[8], row[9], col[5], rgb_c_0, col[4], n103, 
            rgb_c_4, vsync_c_N_171, col[6], game_clock, n2903, n2311, 
            VCC_net);
    
endmodule

//
// Verilog Description of module vga
//

module vga (input GND_net, output \row[4] , output \row[8] , output \col[9] , 
            output \col[8] , output \col[7] , output \col[6] , output \col[5] , 
            output \col[4] , output \col[3] , output \col[2] , output \col[1] , 
            output \col[0] , output \row[9] , input n1133, input n2903, 
            input n34, input n2677, input n2311, input n6, output n951, 
            output \row[7] , input \piece_loc_y[3] , output rgb_c_1_N_160, 
            output \col[9]_2 , output \col[6]_2 , input vsync_c_N_171, 
            output n143, output rgb_c_0_N_165, input clk, input VCC_net, 
            output hsync_c, input n103, output vsync_c, output \row[6] , 
            output \row[5] );
    
    (* is_clock=1, lineinfo="@3(86[9],86[12])" *) wire clk;
    
    wire n2080, n3141;
    (* lineinfo="@3(73[9],73[12])" *) wire [9:0]row;
    
    wire n2082;
    wire [9:0]row_9__N_1;
    
    wire n1129, n12, col_0__N_50, n8, row_0__N_30, n56, n2555, 
        n75, n1643, n2559, n11, n9, n2078, n3138;
    (* lineinfo="@3(74[9],74[12])" *) wire [9:0]col;
    
    wire n6_adj_183, n2451, n2097, n3168;
    wire [9:0]col_9__N_31;
    
    wire n2095, n3165, n2093, n3162, n12_adj_184, n1649, n1675, 
        n3135, n2091, n3159, hsync_c_N_168, n8_adj_185, vsync_c_N_170, 
        vsync_c_N_169, n2089, n3156, n3129, n2086, n3150, n2084, 
        n3147, n3144, VCC_net_2;
    
    FA2 row_temp_135_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(row[3]), 
        .D0(n2080), .CI0(n2080), .A1(GND_net), .B1(GND_net), .C1(\row[4] ), 
        .D1(n3141), .CI1(n3141), .CO0(n3141), .CO1(n2082), .S0(row_9__N_1[3]), 
        .S1(row_9__N_1[4]));
    defparam row_temp_135_add_4_5.INIT0 = "0xc33c";
    defparam row_temp_135_add_4_5.INIT1 = "0xc33c";
    (* lut_function="(A+(B+!(C (D))))" *) LUT4 i5_4_lut (.A(n1129), .B(\row[8] ), 
            .C(row[0]), .D(row[2]), .Z(n12));
    defparam i5_4_lut.INIT = "0xefff";
    (* lut_function="(!(((C+(D))+!B)+!A))" *) LUT4 i806_4_lut (.A(col_0__N_50), 
            .B(row[3]), .C(n12), .D(n8), .Z(row_0__N_30));
    defparam i806_4_lut.INIT = "0x0008";
    (* lut_function="(!((B+((D)+!C))+!A))" *) LUT4 i3_4_lut (.A(\col[5] ), 
            .B(\col[7] ), .C(\col[8] ), .D(n56), .Z(col_0__N_50));
    defparam i3_4_lut.INIT = "0x0020";
    (* lut_function="(A+(B))" *) LUT4 i2005_2_lut (.A(\row[9] ), .B(\col[7] ), 
            .Z(n2555));
    defparam i2005_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B (C)+!B (C (D))))" *) LUT4 i2009_4_lut (.A(n75), 
            .B(n1133), .C(\row[8] ), .D(n1643), .Z(n2559));
    defparam i2009_4_lut.INIT = "0xfaea";
    (* lut_function="(A (B (C+!(D)))+!A (B (C (D))))" *) LUT4 i3_4_lut_adj_42 (.A(n2903), 
            .B(n34), .C(n2677), .D(n2311), .Z(n11));
    defparam i3_4_lut_adj_42.INIT = "0xc088";
    (* lut_function="(A (B (C+!(D)))+!A !(((D)+!C)+!B))" *) LUT4 i1_4_lut (.A(n6), 
            .B(n951), .C(\row[7] ), .D(\piece_loc_y[3] ), .Z(n9));
    defparam i1_4_lut.INIT = "0x80c8";
    (* lut_function="(!(((C+(D))+!B)+!A))" *) LUT4 i7_4_lut (.A(n9), .B(n11), 
            .C(n2559), .D(n2555), .Z(rgb_c_1_N_160));
    defparam i7_4_lut.INIT = "0x0008";
    FA2 row_temp_135_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(row[1]), 
        .D0(n2078), .CI0(n2078), .A1(GND_net), .B1(GND_net), .C1(row[2]), 
        .D1(n3138), .CI1(n3138), .CO0(n3138), .CO1(n2080), .S0(row_9__N_1[1]), 
        .S1(row_9__N_1[2]));
    defparam row_temp_135_add_4_3.INIT0 = "0xc33c";
    defparam row_temp_135_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A+(B))" *) LUT4 i2_2_lut (.A(\col[4] ), .B(col[1]), 
            .Z(n6_adj_183));
    defparam i2_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut_adj_43 (.A(col[0]), 
            .B(col[3]), .C(n6_adj_183), .D(col[2]), .Z(n2451));
    defparam i1_4_lut_adj_43.INIT = "0xfffe";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(\row[4] ), .B(row[1]), 
            .Z(n1129));
    defparam i1_2_lut.INIT = "0xeeee";
    FA2 col_temp_134_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(\col[9]_2 ), 
        .D0(n2097), .CI0(n2097), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n3168), .CI1(n3168), .CO0(n3168), .S0(col_9__N_31[9]));
    defparam col_temp_134_add_4_11.INIT0 = "0xc33c";
    defparam col_temp_134_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1251_4_lut (.A(row[0]), .B(row[2]), 
            .C(n1129), .D(row[3]), .Z(n1643));
    defparam i1251_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+!(C)))" *) LUT4 i2_3_lut (.A(n2451), .B(\col[6]_2 ), 
            .C(\col[9]_2 ), .Z(n56));
    defparam i2_3_lut.INIT = "0xefef";
    FA2 col_temp_134_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(\col[7] ), 
        .D0(n2095), .CI0(n2095), .A1(GND_net), .B1(GND_net), .C1(\col[8] ), 
        .D1(n3165), .CI1(n3165), .CO0(n3165), .CO1(n2097), .S0(col_9__N_31[7]), 
        .S1(col_9__N_31[8]));
    defparam col_temp_134_add_4_9.INIT0 = "0xc33c";
    defparam col_temp_134_add_4_9.INIT1 = "0xc33c";
    FA2 col_temp_134_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(\col[5] ), 
        .D0(n2093), .CI0(n2093), .A1(GND_net), .B1(GND_net), .C1(\col[6]_2 ), 
        .D1(n3162), .CI1(n3162), .CO0(n3162), .CO1(n2095), .S0(col_9__N_31[5]), 
        .S1(col_9__N_31[6]));
    defparam col_temp_134_add_4_7.INIT0 = "0xc33c";
    defparam col_temp_134_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+!(D))))" *) LUT4 i5_4_lut_adj_44 (.A(\row[9] ), 
            .B(\col[5] ), .C(n56), .D(\col[7] ), .Z(n12_adj_184));
    defparam i5_4_lut_adj_44.INIT = "0xfeff";
    (* lut_function="(!(A+(B+((D)+!C))))" *) LUT4 i2184_4_lut (.A(n1643), 
            .B(n12_adj_184), .C(vsync_c_N_171), .D(\col[8] ), .Z(n143));
    defparam i2184_4_lut.INIT = "0x0010";
    (* lut_function="(A (B))" *) LUT4 i1257_2_lut (.A(n1643), .B(vsync_c_N_171), 
            .Z(n1649));
    defparam i1257_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i1283_4_lut (.A(n951), 
            .B(\col[8] ), .C(\col[7] ), .D(n2451), .Z(n1675));
    defparam i1283_4_lut.INIT = "0xfcec";
    (* lut_function="(A+(B (C+(D))+!B (C)))" *) LUT4 i1_4_lut_adj_45 (.A(\row[9] ), 
            .B(n1675), .C(n1649), .D(\col[9]_2 ), .Z(rgb_c_0_N_165));
    defparam i1_4_lut_adj_45.INIT = "0xfefa";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_8 (.D(row_9__N_1[1]), .SP(col_0__N_50), 
            .CK(clk), .SR(row_0__N_30), .Q(row[1]));
    defparam row_9__I_8.REGSET = "RESET";
    defparam row_9__I_8.SRMODE = "CE_OVER_LSR";
    FA2 row_temp_135_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(row[0]), .D1(n3135), .CI1(n3135), 
        .CO0(n3135), .CO1(n2078), .S1(row_9__N_1[0]));
    defparam row_temp_135_add_4_1.INIT0 = "0xc33c";
    defparam row_temp_135_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i94_2_lut (.A(\col[5] ), .B(\col[6]_2 ), 
            .Z(n75));
    defparam i94_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_46 (.A(\col[5] ), .B(\col[6]_2 ), 
            .Z(n951));
    defparam i1_2_lut_adj_46.INIT = "0xeeee";
    FA2 col_temp_134_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(col[3]), 
        .D0(n2091), .CI0(n2091), .A1(GND_net), .B1(GND_net), .C1(\col[4] ), 
        .D1(n3159), .CI1(n3159), .CO0(n3159), .CO1(n2093), .S0(col_9__N_31[3]), 
        .S1(col_9__N_31[4]));
    defparam col_temp_134_add_4_5.INIT0 = "0xc33c";
    defparam col_temp_134_add_4_5.INIT1 = "0xc33c";
    (* lut_function="((((D)+!C)+!B)+!A)", lineinfo="@3(74[9],74[12])" *) LUT4 col_7__I_0 (.A(\col[7] ), 
            .B(hsync_c_N_168), .C(\col[9]_2 ), .D(\col[8] ), .Z(hsync_c));
    defparam col_7__I_0.INIT = "0xff7f";
    (* lut_function="(A (B))" *) LUT4 i188_2_lut (.A(row[2]), .B(row[3]), 
            .Z(n8_adj_185));
    defparam i188_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C+(D))))" *) LUT4 i2_4_lut (.A(\row[8] ), .B(n103), 
            .C(n8_adj_185), .D(\row[4] ), .Z(vsync_c_N_170));
    defparam i2_4_lut.INIT = "0x8880";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i1289_4_lut (.A(row[1]), 
            .B(\row[4] ), .C(row[3]), .D(row[2]), .Z(vsync_c_N_169));
    defparam i1289_4_lut.INIT = "0xfcec";
    (* lut_function="(A+((C+!(D))+!B))", lineinfo="@7(45[20],45[53])" *) LUT4 row_9__I_0 (.A(\row[9] ), 
            .B(vsync_c_N_169), .C(vsync_c_N_170), .D(vsync_c_N_171), .Z(vsync_c));
    defparam row_9__I_0.INIT = "0xfbff";
    FA2 col_temp_134_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(col[1]), 
        .D0(n2089), .CI0(n2089), .A1(GND_net), .B1(GND_net), .C1(col[2]), 
        .D1(n3156), .CI1(n3156), .CO0(n3156), .CO1(n2091), .S0(col_9__N_31[1]), 
        .S1(col_9__N_31[2]));
    defparam col_temp_134_add_4_3.INIT0 = "0xc33c";
    defparam col_temp_134_add_4_3.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_0_2 (.D(row_9__N_1[9]), .SP(col_0__N_50), 
            .CK(clk), .SR(row_0__N_30), .Q(\row[9] ));
    defparam row_9__I_0_2.REGSET = "RESET";
    defparam row_9__I_0_2.SRMODE = "CE_OVER_LSR";
    FA2 col_temp_134_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(col[0]), .D1(n3129), .CI1(n3129), 
        .CO0(n3129), .CO1(n2089), .S1(col_9__N_31[0]));
    defparam col_temp_134_add_4_1.INIT0 = "0xc33c";
    defparam col_temp_134_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_3 (.D(row_9__N_1[6]), .SP(col_0__N_50), 
            .CK(clk), .SR(row_0__N_30), .Q(\row[6] ));
    defparam row_9__I_3.REGSET = "RESET";
    defparam row_9__I_3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_2 (.D(row_9__N_1[7]), .SP(col_0__N_50), 
            .CK(clk), .SR(row_0__N_30), .Q(\row[7] ));
    defparam row_9__I_2.REGSET = "RESET";
    defparam row_9__I_2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_4 (.D(row_9__N_1[5]), .SP(col_0__N_50), 
            .CK(clk), .SR(row_0__N_30), .Q(\row[5] ));
    defparam row_9__I_4.REGSET = "RESET";
    defparam row_9__I_4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_5 (.D(row_9__N_1[4]), .SP(col_0__N_50), 
            .CK(clk), .SR(row_0__N_30), .Q(\row[4] ));
    defparam row_9__I_5.REGSET = "RESET";
    defparam row_9__I_5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_6 (.D(row_9__N_1[3]), .SP(col_0__N_50), 
            .CK(clk), .SR(row_0__N_30), .Q(row[3]));
    defparam row_9__I_6.REGSET = "RESET";
    defparam row_9__I_6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_7 (.D(row_9__N_1[2]), .SP(col_0__N_50), 
            .CK(clk), .SR(row_0__N_30), .Q(row[2]));
    defparam row_9__I_7.REGSET = "RESET";
    defparam row_9__I_7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_1 (.D(row_9__N_1[8]), .SP(col_0__N_50), 
            .CK(clk), .SR(row_0__N_30), .Q(\row[8] ));
    defparam row_9__I_1.REGSET = "RESET";
    defparam row_9__I_1.SRMODE = "CE_OVER_LSR";
    FA2 row_temp_135_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(\row[9] ), 
        .D0(n2086), .CI0(n2086), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n3150), .CI1(n3150), .CO0(n3150), .S0(row_9__N_1[9]));
    defparam row_temp_135_add_4_11.INIT0 = "0xc33c";
    defparam row_temp_135_add_4_11.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_0 (.D(col_9__N_31[9]), .SP(VCC_net_2), 
            .CK(clk), .SR(col_0__N_50), .Q(\col[9]_2 ));
    defparam col_9__I_0.REGSET = "RESET";
    defparam col_9__I_0.SRMODE = "CE_OVER_LSR";
    FA2 row_temp_135_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(\row[7] ), 
        .D0(n2084), .CI0(n2084), .A1(GND_net), .B1(GND_net), .C1(\row[8] ), 
        .D1(n3147), .CI1(n3147), .CO0(n3147), .CO1(n2086), .S0(row_9__N_1[7]), 
        .S1(row_9__N_1[8]));
    defparam row_temp_135_add_4_9.INIT0 = "0xc33c";
    defparam row_temp_135_add_4_9.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_10 (.D(col_9__N_31[8]), .SP(VCC_net_2), 
            .CK(clk), .SR(col_0__N_50), .Q(\col[8] ));
    defparam col_9__I_10.REGSET = "RESET";
    defparam col_9__I_10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_11 (.D(col_9__N_31[7]), .SP(VCC_net_2), 
            .CK(clk), .SR(col_0__N_50), .Q(\col[7] ));
    defparam col_9__I_11.REGSET = "RESET";
    defparam col_9__I_11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_12 (.D(col_9__N_31[6]), .SP(VCC_net_2), 
            .CK(clk), .SR(col_0__N_50), .Q(\col[6]_2 ));
    defparam col_9__I_12.REGSET = "RESET";
    defparam col_9__I_12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_13 (.D(col_9__N_31[5]), .SP(VCC_net_2), 
            .CK(clk), .SR(col_0__N_50), .Q(\col[5] ));
    defparam col_9__I_13.REGSET = "RESET";
    defparam col_9__I_13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_14 (.D(col_9__N_31[4]), .SP(VCC_net_2), 
            .CK(clk), .SR(col_0__N_50), .Q(\col[4] ));
    defparam col_9__I_14.REGSET = "RESET";
    defparam col_9__I_14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_15 (.D(col_9__N_31[3]), .SP(VCC_net_2), 
            .CK(clk), .SR(col_0__N_50), .Q(col[3]));
    defparam col_9__I_15.REGSET = "RESET";
    defparam col_9__I_15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_16 (.D(col_9__N_31[2]), .SP(VCC_net_2), 
            .CK(clk), .SR(col_0__N_50), .Q(col[2]));
    defparam col_9__I_16.REGSET = "RESET";
    defparam col_9__I_16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_17 (.D(col_9__N_31[1]), .SP(VCC_net_2), 
            .CK(clk), .SR(col_0__N_50), .Q(col[1]));
    defparam col_9__I_17.REGSET = "RESET";
    defparam col_9__I_17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_9__I_9 (.D(row_9__N_1[0]), .SP(col_0__N_50), 
            .CK(clk), .SR(row_0__N_30), .Q(row[0]));
    defparam row_9__I_9.REGSET = "RESET";
    defparam row_9__I_9.SRMODE = "CE_OVER_LSR";
    FA2 row_temp_135_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(\row[5] ), 
        .D0(n2082), .CI0(n2082), .A1(GND_net), .B1(GND_net), .C1(\row[6] ), 
        .D1(n3144), .CI1(n3144), .CO0(n3144), .CO1(n2084), .S0(row_9__N_1[5]), 
        .S1(row_9__N_1[6]));
    defparam row_temp_135_add_4_7.INIT0 = "0xc33c";
    defparam row_temp_135_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(!(A (B (C))+!A !(B+(C))))", lineinfo="@3(74[9],74[12])" *) LUT4 i28_3_lut_3_lut (.A(\col[5] ), 
            .B(\col[6]_2 ), .C(\col[4] ), .Z(hsync_c_N_168));
    defparam i28_3_lut_3_lut.INIT = "0x7e7e";
    (* lut_function="((B+(C+(D)))+!A)" *) LUT4 i1_2_lut_4_lut (.A(\row[9] ), 
            .B(\row[5] ), .C(\row[6] ), .D(\row[7] ), .Z(n8));
    defparam i1_2_lut_4_lut.INIT = "0xfffd";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_18 (.D(col_9__N_31[0]), .SP(VCC_net_2), 
            .CK(clk), .SR(col_0__N_50), .Q(col[0]));
    defparam col_9__I_18.REGSET = "RESET";
    defparam col_9__I_18.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net_2));
    
endmodule

//
// Verilog Description of module nes_controller
//

module nes_controller (input [7:0]NEScount, output ctrlr_clk_c, output down_button, 
            input NESclk, input ctrlr_data_c, output ctrlr_latch_c, output rotate_out_c);
    
    (* is_clock=1, lineinfo="@3(12[3],12[12])" *) wire ctrlr_clk_c;
    
    wire ctrlr_clk_c_N_174, n6, down_button_N_176, shift_reg_0__N_156;
    (* lineinfo="@4(34[16],34[25])" *) wire [7:0]shift_reg;
    
    wire ctrlr_latch_c_N_173, ctrlr_latch_c_N_172, VCC_net, GND_net;
    
    (* lut_function="(A+(B))", lineinfo="@4(43[50],43[62])" *) LUT4 i1_2_lut (.A(NEScount[1]), 
            .B(ctrlr_clk_c_N_174), .Z(n6));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="((B+(C+(D)))+!A)", lineinfo="@4(43[50],43[62])" *) LUT4 i4_4_lut (.A(NEScount[3]), 
            .B(NEScount[2]), .C(NEScount[0]), .D(n6), .Z(down_button_N_176));
    defparam i4_4_lut.INIT = "0xfffd";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=27, LSE_RCOL=41, LSE_LLINE=110, LSE_RLINE=110, lineinfo="@4(55[25],58[32])" *) FD1P3XZ shift_reg_2__I_0 (.D(shift_reg[2]), 
            .SP(VCC_net), .CK(ctrlr_clk_c), .SR(GND_net), .Q(shift_reg[3]));
    defparam shift_reg_2__I_0.REGSET = "RESET";
    defparam shift_reg_2__I_0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(43[34],43[63])" *) LUT4 down_button_I_0 (.A(down_button), 
            .B(shift_reg[2]), .C(down_button_N_176), .Z(down_button));
    defparam down_button_I_0.INIT = "0xacac";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(42[43],42[55])" *) LUT4 i3_4_lut (.A(NEScount[4]), 
            .B(NEScount[6]), .C(NEScount[5]), .D(NEScount[7]), .Z(ctrlr_clk_c_N_174));
    defparam i3_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+((C)+!B)))" *) LUT4 ctrlr_clk_c_I_0 (.A(ctrlr_clk_c_N_174), 
            .B(NESclk), .C(NEScount[3]), .Z(ctrlr_clk_c));
    defparam ctrlr_clk_c_I_0.INIT = "0x0404";
    (* lut_function="(!(A))", lineinfo="@4(57[49],57[57])" *) LUT4 i10_1_lut (.A(ctrlr_data_c), 
            .Z(shift_reg_0__N_156));
    defparam i10_1_lut.INIT = "0x5555";
    (* lut_function="(A (B))" *) LUT4 i2_2_lut (.A(NEScount[2]), .B(NEScount[7]), 
            .Z(ctrlr_latch_c_N_173));
    defparam i2_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C (D))))" *) LUT4 i6_4_lut (.A(NEScount[4]), .B(NEScount[0]), 
            .C(NEScount[1]), .D(NEScount[5]), .Z(ctrlr_latch_c_N_172));
    defparam i6_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C (D))))" *) LUT4 NEScount_3__I_0 (.A(NEScount[3]), 
            .B(ctrlr_latch_c_N_172), .C(ctrlr_latch_c_N_173), .D(NEScount[6]), 
            .Z(ctrlr_latch_c));
    defparam NEScount_3__I_0.INIT = "0x8000";
    (* lut_function="(A (B+(C))+!A !((C)+!B))", lineinfo="@4(43[34],43[63])" *) LUT4 rotate_out_c_I_0 (.A(rotate_out_c), 
            .B(shift_reg[3]), .C(down_button_N_176), .Z(rotate_out_c));
    defparam rotate_out_c_I_0.INIT = "0xacac";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=27, LSE_RCOL=41, LSE_LLINE=110, LSE_RLINE=110, lineinfo="@4(55[25],58[32])" *) FD1P3XZ shift_reg_1__I_0 (.D(shift_reg[1]), 
            .SP(VCC_net), .CK(ctrlr_clk_c), .SR(GND_net), .Q(shift_reg[2]));
    defparam shift_reg_1__I_0.REGSET = "RESET";
    defparam shift_reg_1__I_0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=27, LSE_RCOL=41, LSE_LLINE=110, LSE_RLINE=110, lineinfo="@4(55[25],58[32])" *) FD1P3XZ shift_reg_0__I_0 (.D(shift_reg[0]), 
            .SP(VCC_net), .CK(ctrlr_clk_c), .SR(GND_net), .Q(shift_reg[1]));
    defparam shift_reg_0__I_0.REGSET = "RESET";
    defparam shift_reg_0__I_0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=27, LSE_RCOL=41, LSE_LLINE=110, LSE_RLINE=110, lineinfo="@4(55[25],58[32])" *) FD1P3XZ shift_reg_0__I_36 (.D(shift_reg_0__N_156), 
            .SP(VCC_net), .CK(ctrlr_clk_c), .SR(GND_net), .Q(shift_reg[0]));
    defparam shift_reg_0__I_36.REGSET = "RESET";
    defparam shift_reg_0__I_36.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net));
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module clock_manager
//

module clock_manager (input GND_net, output clk, output [7:0]NEScount, 
            output NESclk, input VCC_net, output game_clock, input osc_c);
    
    (* is_clock=1, lineinfo="@3(86[9],86[12])" *) wire clk;
    (* is_clock=1, lineinfo="@3(87[9],87[19])" *) wire game_clock;
    (* is_clock=1, lineinfo="@3(7[3],7[6])" *) wire osc_c;
    
    wire n2068, n3195, n8, n7, n2070;
    wire [24:0]NEScount_7__N_51;
    
    wire n2052, n3171, n24, n23, n2054, n25, n2060, n3183, n2062, 
        n2066, n3192, n9, n2058, n3180, n2056, n3177, n20, n19, 
        n2064, n3189, n3123, n3186, n2074, n3204, n2, n2072, 
        n3201, n4, n3, n5, n6, n21, n22, n3198, n3174, VCC_net_2, 
        GND_net_2;
    
    FA2 counter_130_158_add_4_19 (.A0(GND_net), .B0(GND_net), .C0(n8), 
        .D0(n2068), .CI0(n2068), .A1(GND_net), .B1(GND_net), .C1(n7), 
        .D1(n3195), .CI1(n3195), .CO0(n3195), .CO1(n2070), .S0(NEScount_7__N_51[17]), 
        .S1(NEScount_7__N_51[18]));
    defparam counter_130_158_add_4_19.INIT0 = "0xc33c";
    defparam counter_130_158_add_4_19.INIT1 = "0xc33c";
    FA2 counter_130_158_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(n24), 
        .D0(n2052), .CI0(n2052), .A1(GND_net), .B1(GND_net), .C1(n23), 
        .D1(n3171), .CI1(n3171), .CO0(n3171), .CO1(n2054), .S0(NEScount_7__N_51[1]), 
        .S1(NEScount_7__N_51[2]));
    defparam counter_130_158_add_4_3.INIT0 = "0xc33c";
    defparam counter_130_158_add_4_3.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_37 (.D(NEScount_7__N_51[24]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(game_clock));
    defparam NEScount_7__I_37.REGSET = "RESET";
    defparam NEScount_7__I_37.SRMODE = "CE_OVER_LSR";
    FA2 counter_130_158_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(NEScount[1]), 
        .D0(n2060), .CI0(n2060), .A1(GND_net), .B1(GND_net), .C1(NEScount[2]), 
        .D1(n3183), .CI1(n3183), .CO0(n3183), .CO1(n2062), .S0(NEScount_7__N_51[9]), 
        .S1(NEScount_7__N_51[10]));
    defparam counter_130_158_add_4_11.INIT0 = "0xc33c";
    defparam counter_130_158_add_4_11.INIT1 = "0xc33c";
    FA2 counter_130_158_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(NEScount[7]), 
        .D0(n2066), .CI0(n2066), .A1(GND_net), .B1(GND_net), .C1(n9), 
        .D1(n3192), .CI1(n3192), .CO0(n3192), .CO1(n2068), .S0(NEScount_7__N_51[15]), 
        .S1(NEScount_7__N_51[16]));
    defparam counter_130_158_add_4_17.INIT0 = "0xc33c";
    defparam counter_130_158_add_4_17.INIT1 = "0xc33c";
    FA2 counter_130_158_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(NESclk), 
        .D0(n2058), .CI0(n2058), .A1(GND_net), .B1(GND_net), .C1(NEScount[0]), 
        .D1(n3180), .CI1(n3180), .CO0(n3180), .CO1(n2060), .S0(NEScount_7__N_51[7]), 
        .S1(NEScount_7__N_51[8]));
    defparam counter_130_158_add_4_9.INIT0 = "0xc33c";
    defparam counter_130_158_add_4_9.INIT1 = "0xc33c";
    FA2 counter_130_158_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(n20), 
        .D0(n2056), .CI0(n2056), .A1(GND_net), .B1(GND_net), .C1(n19), 
        .D1(n3177), .CI1(n3177), .CO0(n3177), .CO1(n2058), .S0(NEScount_7__N_51[5]), 
        .S1(NEScount_7__N_51[6]));
    defparam counter_130_158_add_4_7.INIT0 = "0xc33c";
    defparam counter_130_158_add_4_7.INIT1 = "0xc33c";
    FA2 counter_130_158_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(NEScount[5]), 
        .D0(n2064), .CI0(n2064), .A1(GND_net), .B1(GND_net), .C1(NEScount[6]), 
        .D1(n3189), .CI1(n3189), .CO0(n3189), .CO1(n2066), .S0(NEScount_7__N_51[13]), 
        .S1(NEScount_7__N_51[14]));
    defparam counter_130_158_add_4_15.INIT0 = "0xc33c";
    defparam counter_130_158_add_4_15.INIT1 = "0xc33c";
    FA2 counter_130_158_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(n25), .D1(n3123), .CI1(n3123), 
        .CO0(n3123), .CO1(n2052), .S1(NEScount_7__N_51[0]));
    defparam counter_130_158_add_4_1.INIT0 = "0xc33c";
    defparam counter_130_158_add_4_1.INIT1 = "0xc33c";
    FA2 counter_130_158_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(NEScount[3]), 
        .D0(n2062), .CI0(n2062), .A1(GND_net), .B1(GND_net), .C1(NEScount[4]), 
        .D1(n3186), .CI1(n3186), .CO0(n3186), .CO1(n2064), .S0(NEScount_7__N_51[11]), 
        .S1(NEScount_7__N_51[12]));
    defparam counter_130_158_add_4_13.INIT0 = "0xc33c";
    defparam counter_130_158_add_4_13.INIT1 = "0xc33c";
    FA2 counter_130_158_add_4_25 (.A0(GND_net), .B0(GND_net), .C0(n2), 
        .D0(n2074), .CI0(n2074), .A1(GND_net), .B1(GND_net), .C1(game_clock), 
        .D1(n3204), .CI1(n3204), .CO0(n3204), .S0(NEScount_7__N_51[23]), 
        .S1(NEScount_7__N_51[24]));
    defparam counter_130_158_add_4_25.INIT0 = "0xc33c";
    defparam counter_130_158_add_4_25.INIT1 = "0xc33c";
    FA2 counter_130_158_add_4_23 (.A0(GND_net), .B0(GND_net), .C0(n4), 
        .D0(n2072), .CI0(n2072), .A1(GND_net), .B1(GND_net), .C1(n3), 
        .D1(n3201), .CI1(n3201), .CO0(n3201), .CO1(n2074), .S0(NEScount_7__N_51[21]), 
        .S1(NEScount_7__N_51[22]));
    defparam counter_130_158_add_4_23.INIT0 = "0xc33c";
    defparam counter_130_158_add_4_23.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_130_158__i24 (.D(NEScount_7__N_51[23]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n2));
    defparam counter_130_158__i24.REGSET = "RESET";
    defparam counter_130_158__i24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_130_158__i23 (.D(NEScount_7__N_51[22]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n3));
    defparam counter_130_158__i23.REGSET = "RESET";
    defparam counter_130_158__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_130_158__i22 (.D(NEScount_7__N_51[21]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n4));
    defparam counter_130_158__i22.REGSET = "RESET";
    defparam counter_130_158__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_130_158__i21 (.D(NEScount_7__N_51[20]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n5));
    defparam counter_130_158__i21.REGSET = "RESET";
    defparam counter_130_158__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_130_158__i20 (.D(NEScount_7__N_51[19]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n6));
    defparam counter_130_158__i20.REGSET = "RESET";
    defparam counter_130_158__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_130_158__i19 (.D(NEScount_7__N_51[18]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n7));
    defparam counter_130_158__i19.REGSET = "RESET";
    defparam counter_130_158__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_130_158__i18 (.D(NEScount_7__N_51[17]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n8));
    defparam counter_130_158__i18.REGSET = "RESET";
    defparam counter_130_158__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_130_158__i17 (.D(NEScount_7__N_51[16]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n9));
    defparam counter_130_158__i17.REGSET = "RESET";
    defparam counter_130_158__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_0 (.D(NEScount_7__N_51[15]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(NEScount[7]));
    defparam NEScount_7__I_0.REGSET = "RESET";
    defparam NEScount_7__I_0.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_19 (.D(NEScount_7__N_51[14]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(NEScount[6]));
    defparam NEScount_7__I_19.REGSET = "RESET";
    defparam NEScount_7__I_19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_20 (.D(NEScount_7__N_51[13]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(NEScount[5]));
    defparam NEScount_7__I_20.REGSET = "RESET";
    defparam NEScount_7__I_20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_21 (.D(NEScount_7__N_51[12]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(NEScount[4]));
    defparam NEScount_7__I_21.REGSET = "RESET";
    defparam NEScount_7__I_21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_22 (.D(NEScount_7__N_51[11]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(NEScount[3]));
    defparam NEScount_7__I_22.REGSET = "RESET";
    defparam NEScount_7__I_22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_23 (.D(NEScount_7__N_51[10]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(NEScount[2]));
    defparam NEScount_7__I_23.REGSET = "RESET";
    defparam NEScount_7__I_23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_24 (.D(NEScount_7__N_51[9]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(NEScount[1]));
    defparam NEScount_7__I_24.REGSET = "RESET";
    defparam NEScount_7__I_24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_25 (.D(NEScount_7__N_51[8]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(NEScount[0]));
    defparam NEScount_7__I_25.REGSET = "RESET";
    defparam NEScount_7__I_25.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ NEScount_7__I_38 (.D(NEScount_7__N_51[7]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(NESclk));
    defparam NEScount_7__I_38.REGSET = "RESET";
    defparam NEScount_7__I_38.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_130_158__i7 (.D(NEScount_7__N_51[6]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n19));
    defparam counter_130_158__i7.REGSET = "RESET";
    defparam counter_130_158__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_130_158__i6 (.D(NEScount_7__N_51[5]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n20));
    defparam counter_130_158__i6.REGSET = "RESET";
    defparam counter_130_158__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_130_158__i5 (.D(NEScount_7__N_51[4]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n21));
    defparam counter_130_158__i5.REGSET = "RESET";
    defparam counter_130_158__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_130_158__i4 (.D(NEScount_7__N_51[3]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n22));
    defparam counter_130_158__i4.REGSET = "RESET";
    defparam counter_130_158__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_130_158__i3 (.D(NEScount_7__N_51[2]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n23));
    defparam counter_130_158__i3.REGSET = "RESET";
    defparam counter_130_158__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_130_158__i2 (.D(NEScount_7__N_51[1]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n24));
    defparam counter_130_158__i2.REGSET = "RESET";
    defparam counter_130_158__i2.SRMODE = "CE_OVER_LSR";
    FA2 counter_130_158_add_4_21 (.A0(GND_net), .B0(GND_net), .C0(n6), 
        .D0(n2070), .CI0(n2070), .A1(GND_net), .B1(GND_net), .C1(n5), 
        .D1(n3198), .CI1(n3198), .CO0(n3198), .CO1(n2072), .S0(NEScount_7__N_51[19]), 
        .S1(NEScount_7__N_51[20]));
    defparam counter_130_158_add_4_21.INIT0 = "0xc33c";
    defparam counter_130_158_add_4_21.INIT1 = "0xc33c";
    FA2 counter_130_158_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(n22), 
        .D0(n2054), .CI0(n2054), .A1(GND_net), .B1(GND_net), .C1(n21), 
        .D1(n3174), .CI1(n3174), .CO0(n3174), .CO1(n2056), .S0(NEScount_7__N_51[3]), 
        .S1(NEScount_7__N_51[4]));
    defparam counter_130_158_add_4_5.INIT0 = "0xc33c";
    defparam counter_130_158_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@2(32[19],32[32])" *) pll_component pll_portmap (GND_net, 
            osc_c, VCC_net, clk);
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_130_158__i1 (.D(NEScount_7__N_51[0]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(n25));
    defparam counter_130_158__i1.REGSET = "RESET";
    defparam counter_130_158__i1.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net_2));
    VHI i1 (.Z(VCC_net_2));
    
endmodule

//
// Verilog Description of module pll_component
//

module pll_component (input GND_net, input osc_c, input VCC_net, output clk);
    
    (* is_clock=1, lineinfo="@3(7[3],7[6])" *) wire osc_c;
    (* is_clock=1, lineinfo="@3(86[9],86[12])" *) wire clk;
    
    (* lineinfo="@8(35[41],48[26])" *) \pll_component_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") lscc_pll_inst (GND_net, 
            osc_c, VCC_net, clk);
    
endmodule

//
// Verilog Description of module \pll_component_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") 
//

module \pll_component_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") (input GND_net, 
            input osc_c, input VCC_net, output clk);
    
    (* is_clock=1, lineinfo="@3(7[3],7[6])" *) wire osc_c;
    (* is_clock=1, lineinfo="@3(86[9],86[12])" *) wire clk;
    
    wire feedback_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=89, LSE_LCOL=41, LSE_RCOL=26, LSE_LLINE=35, LSE_RLINE=48, lineinfo="@8(35[41],48[26])" *) PLL_B u_PLL_B (.REFERENCECLK(osc_c), 
            .FEEDBACK(feedback_w), .DYNAMICDELAY7(GND_net), .DYNAMICDELAY6(GND_net), 
            .DYNAMICDELAY5(GND_net), .DYNAMICDELAY4(GND_net), .DYNAMICDELAY3(GND_net), 
            .DYNAMICDELAY2(GND_net), .DYNAMICDELAY1(GND_net), .DYNAMICDELAY0(GND_net), 
            .BYPASS(GND_net), .RESET_N(VCC_net), .SCLK(GND_net), .SDI(GND_net), 
            .LATCH(GND_net), .INTFBOUT(feedback_w), .OUTGLOBAL(clk));
    defparam u_PLL_B.FEEDBACK_PATH = "SIMPLE";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_FEEDBACK = "FIXED";
    defparam u_PLL_B.FDA_FEEDBACK = "0";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_RELATIVE = "FIXED";
    defparam u_PLL_B.FDA_RELATIVE = "0";
    defparam u_PLL_B.SHIFTREG_DIV_MODE = "0";
    defparam u_PLL_B.PLLOUT_SELECT_PORTA = "GENCLK";
    defparam u_PLL_B.PLLOUT_SELECT_PORTB = "GENCLK";
    defparam u_PLL_B.DIVR = "0";
    defparam u_PLL_B.DIVF = "66";
    defparam u_PLL_B.DIVQ = "5";
    defparam u_PLL_B.FILTER_RANGE = "1";
    defparam u_PLL_B.EXTERNAL_DIVIDE_FACTOR = "NONE";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTA = "0";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTB = "0";
    defparam u_PLL_B.TEST_MODE = "0";
    defparam u_PLL_B.FREQUENCY_PIN_REFERENCECLK = "12.000000";
    
endmodule

//
// Verilog Description of module pattern_gen
//

module pattern_gen (input rgb_c_1_N_160, input rgb_c_0_N_165, output rgb_c_1, 
            input n143, input \row[5] , input \row[6] , input \row[7] , 
            output n1133, input GND_net, input down_button, input clk, 
            output n2677, output \piece_loc_y[3] , output n34, input \row[4] , 
            output n6, input rotate_out_c, input \col[9] , input n951, 
            input \col[8] , input \col[7] , input \row[8] , input \row[9] , 
            input \col[5] , output rgb_c_0, input \col[4] , output n103, 
            output rgb_c_4, output vsync_c_N_171, input \col[6] , input game_clock, 
            output n2903, output n2311, input VCC_net);
    
    (* is_clock=1, lineinfo="@3(86[9],86[12])" *) wire clk;
    (* is_clock=1, lineinfo="@3(87[9],87[19])" *) wire game_clock;
    
    wire rgb_c_1_N_161, rgb_c_1_N_162;
    (* lineinfo="@5(63[9],63[22])" *) wire [15:0]frame_counter;
    
    wire frame_counter_2__N_143, n10;
    (* lineinfo="@5(52[9],52[20])" *) wire [3:0]piece_loc_y;
    
    wire n12, n3132, n3, n2100;
    wire [2:0]frame_counter_2__N_144;
    (* lineinfo="@5(68[9],68[19])" *) wire [2:0]down_delay;
    
    wire n5;
    wire [1:0]piece_shape_15__N_63;
    (* lineinfo="@5(65[9],65[23])" *) wire [1:0]piece_rotation;
    
    wire n1689;
    wire [3:0]n310;
    
    wire n6_c, n144;
    wire [2:0]down_delay_2__N_153;
    
    wire n2567, n2915, n2909;
    wire [3:0]n1;
    wire [0:0]n282;
    
    wire n492, n4;
    wire [2:0]rotate_delay_2__N_150;
    (* lineinfo="@5(67[9],67[21])" *) wire [2:0]rotate_delay;
    (* lineinfo="@5(66[9],66[19])" *) wire [2:0]piece_code;
    wire [2:0]piece_shape_15__N_65;
    
    wire n232, n5_adj_181, n2569, rgb_c_0_N_166, n2906;
    (* lineinfo="@5(56[9],56[20])" *) wire [15:0]piece_shape;
    
    wire n2921, n8, rgb_c_0_N_164, rgb_c_0_N_167, n2667, n2668, 
        n921, n2687, n965, n2, n2683, n2682, n2_adj_182, n2912, 
        down_delay_1__N_154;
    wire [3:0]piece_loc_y_3__N_59;
    
    wire rotate_delay_1__N_151, n2918, n2900, n3153, VCC_net_2, GND_net_2;
    
    (* lut_function="(!(A (B+(D))+!A (B+(C+(D)))))", lineinfo="@5(116[9],116[48])" *) LUT4 rgb_c_1_I_0 (.A(rgb_c_1_N_160), 
            .B(rgb_c_1_N_161), .C(rgb_c_1_N_162), .D(rgb_c_0_N_165), .Z(rgb_c_1));
    defparam rgb_c_1_I_0.INIT = "0x0023";
    (* lut_function="(A (B))" *) LUT4 i645_2_lut (.A(frame_counter[2]), .B(n143), 
            .Z(frame_counter_2__N_143));
    defparam i645_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B+(C)))", lineinfo="@5(99[10],99[20])" *) LUT4 i2_3_lut (.A(\row[5] ), 
            .B(\row[6] ), .C(\row[7] ), .Z(n1133));
    defparam i2_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))" *) LUT4 i5_3_lut (.A(\row[5] ), 
            .B(n10), .C(piece_loc_y[1]), .Z(n12));
    defparam i5_3_lut.INIT = "0x9696";
    FA2 frame_counter_133_164_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(n143), .C1(n3), .D1(n3132), .CI1(n3132), 
        .CO0(n3132), .CO1(n2100), .S1(frame_counter_2__N_144[0]));
    defparam frame_counter_133_164_add_4_1.INIT0 = "0xc33c";
    defparam frame_counter_133_164_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A+(B))", lineinfo="@5(134[5],136[12])" *) LUT4 i1_2_lut (.A(down_button), 
            .B(down_delay[2]), .Z(n5));
    defparam i1_2_lut.INIT = "0xeeee";
    FD1P3XZ rotate_delay_2__I_34 (.D(rotate_delay_2__N_150[0]), .SP(VCC_net_2), 
            .CK(clk), .SR(GND_net_2), .Q(rotate_delay[0]));
    defparam rotate_delay_2__I_34.REGSET = "RESET";
    defparam rotate_delay_2__I_34.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A ((C)+!B)+!A !(B+!(C))))", lineinfo="@5(98[10],98[104])" *) LUT4 LessThan_7_i6_3_lut (.A(n1689), 
            .B(n310[2]), .C(\row[6] ), .Z(n6_c));
    defparam LessThan_7_i6_3_lut.INIT = "0x4d4d";
    (* lut_function="(A (B (C)+!B !(C))+!A (B (C)+!B !(C+!(D))))" *) LUT4 i1622_4_lut (.A(n5), 
            .B(down_delay[0]), .C(n144), .D(down_delay[1]), .Z(down_delay_2__N_153[0]));
    defparam i1622_4_lut.INIT = "0xc3c2";
    (* lut_function="(A+(B))" *) LUT4 i2017_2_lut (.A(down_delay[2]), .B(down_delay[1]), 
            .Z(n2567));
    defparam i2017_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i2097_3_lut (.A(n2915), 
            .B(n2909), .C(n1[2]), .Z(n2677));
    defparam i2097_3_lut.INIT = "0xcaca";
    (* lut_function="(!((B+(C+(D)))+!A))" *) LUT4 i3_4_lut (.A(down_button), 
            .B(down_delay[0]), .C(n144), .D(n2567), .Z(n282[0]));
    defparam i3_4_lut.INIT = "0x0002";
    (* lut_function="(A (B+((D)+!C))+!A (B ((D)+!C)+!B !(C+!(D))))" *) LUT4 i527_4_lut (.A(n6_c), 
            .B(\piece_loc_y[3] ), .C(\row[7] ), .D(n492), .Z(n34));
    defparam i527_4_lut.INIT = "0xef8e";
    (* lut_function="(A (B+!(C))+!A !(B (C (D))+!B (C+(D))))", lineinfo="@5(97[10],97[50])" *) LUT4 LessThan_5_i4_4_lut (.A(\row[4] ), 
            .B(\row[5] ), .C(piece_loc_y[1]), .D(piece_loc_y[0]), .Z(n4));
    defparam LessThan_5_i4_4_lut.INIT = "0x8ecf";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@5(97[10],97[50])" *) LUT4 LessThan_5_i6_3_lut (.A(n4), 
            .B(\row[6] ), .C(piece_loc_y[2]), .Z(n6));
    defparam LessThan_5_i6_3_lut.INIT = "0x8e8e";
    FD1P3XZ down_delay_2__I_35 (.D(down_delay_2__N_153[0]), .SP(VCC_net_2), 
            .CK(clk), .SR(GND_net_2), .Q(down_delay[0]));
    defparam down_delay_2__I_35.REGSET = "RESET";
    defparam down_delay_2__I_35.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ frame_counter_133_164__i1 (.D(frame_counter_2__N_144[0]), 
            .SP(n144), .CK(clk), .SR(GND_net_2), .Q(n3));
    defparam frame_counter_133_164__i1.REGSET = "RESET";
    defparam frame_counter_133_164__i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@5(122[4],145[11])" *) LUT4 i227_2_lut (.A(piece_code[0]), 
            .B(n282[0]), .Z(piece_shape_15__N_65[0]));
    defparam i227_2_lut.INIT = "0x6666";
    (* lut_function="(!(A (B (C))+!A !(B (C))))", lineinfo="@5(123[5],126[12])" *) LUT4 mux_51_i2_3_lut (.A(piece_rotation[1]), 
            .B(piece_rotation[0]), .C(n232), .Z(piece_shape_15__N_63[1]));
    defparam mux_51_i2_3_lut.INIT = "0x6a6a";
    (* lut_function="(A+(B))", lineinfo="@5(127[5],129[12])" *) LUT4 i1_2_lut_adj_39 (.A(rotate_out_c), 
            .B(rotate_delay[2]), .Z(n5_adj_181));
    defparam i1_2_lut_adj_39.INIT = "0xeeee";
    (* lut_function="(A (B (C)+!B !(C))+!A (B (C)+!B !(C+!(D))))" *) LUT4 i1601_4_lut (.A(n5_adj_181), 
            .B(rotate_delay[0]), .C(n144), .D(rotate_delay[1]), .Z(rotate_delay_2__N_150[0]));
    defparam i1601_4_lut.INIT = "0xc3c2";
    (* lut_function="(!(A (B)))", lineinfo="@5(122[7],122[57])" *) LUT4 i2196_2_lut (.A(n143), 
            .B(frame_counter[2]), .Z(n144));
    defparam i2196_2_lut.INIT = "0x7777";
    (* lut_function="(A+(B))" *) LUT4 i2019_2_lut (.A(rotate_delay[1]), .B(rotate_delay[2]), 
            .Z(n2569));
    defparam i2019_2_lut.INIT = "0xeeee";
    (* lut_function="(!((B+(C+(D)))+!A))" *) LUT4 i3_4_lut_adj_40 (.A(rotate_out_c), 
            .B(rotate_delay[0]), .C(n144), .D(n2569), .Z(n232));
    defparam i3_4_lut_adj_40.INIT = "0x0002";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@5(123[5],126[12])" *) LUT4 i546_2_lut (.A(piece_rotation[0]), 
            .B(n232), .Z(piece_shape_15__N_63[0]));
    defparam i546_2_lut.INIT = "0x6666";
    (* lut_function="(A+(B (C+(D))+!B (C)))" *) LUT4 i2_4_lut (.A(\col[9] ), 
            .B(n951), .C(\col[8] ), .D(\col[7] ), .Z(rgb_c_1_N_161));
    defparam i2_4_lut.INIT = "0xfefa";
    (* lut_function="(A+(B))" *) LUT4 i1265_2_lut (.A(\row[8] ), .B(\row[9] ), 
            .Z(rgb_c_1_N_162));
    defparam i1265_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A+!(B)))", lineinfo="@5(95[31],105[17])" *) LUT4 i1_2_lut_adj_41 (.A(rgb_c_1_N_161), 
            .B(rgb_c_1_N_160), .Z(rgb_c_0_N_166));
    defparam i1_2_lut_adj_41.INIT = "0x4444";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2906_bdd_4_lut (.A(n2906), 
            .B(piece_shape[13]), .C(piece_shape[12]), .D(\col[5] ), .Z(n2909));
    defparam n2906_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(!(A (B (C)+!B !((D)+!C))+!A (B+!(C (D)))))", lineinfo="@5(110[81],110[106])" *) LUT4 Mux_31_i15_4_lut (.A(n2921), 
            .B(n951), .C(\col[7] ), .D(n8), .Z(rgb_c_0_N_164));
    defparam Mux_31_i15_4_lut.INIT = "0x3a0a";
    (* lut_function="(!(A (B+!(C+!(D)))+!A (B+!(C))))", lineinfo="@5(116[9],116[48])" *) LUT4 rgb_c_0_I_0 (.A(rgb_c_0_N_164), 
            .B(rgb_c_0_N_165), .C(rgb_c_0_N_166), .D(rgb_c_0_N_167), .Z(rgb_c_0));
    defparam rgb_c_0_I_0.INIT = "0x3032";
    (* syn_use_carry_chain=1 *) FD1P3XZ frame_counter_2__I_0 (.D(frame_counter_2__N_143), 
            .SP(VCC_net_2), .CK(clk), .SR(frame_counter_2__N_144[2]), 
            .Q(frame_counter[2]));
    defparam frame_counter_2__I_0.REGSET = "SET";
    defparam frame_counter_2__I_0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+(C))+!A !((C)+!B))" *) LUT4 i2087_3_lut (.A(piece_shape[0]), 
            .B(piece_shape[1]), .C(\col[4] ), .Z(n2667));
    defparam i2087_3_lut.INIT = "0xacac";
    (* lut_function="(A (B+(C))+!A !((C)+!B))" *) LUT4 i2088_3_lut (.A(piece_shape[2]), 
            .B(piece_shape[3]), .C(\col[4] ), .Z(n2668));
    defparam i2088_3_lut.INIT = "0xacac";
    (* lut_function="(A (B))" *) LUT4 i2120_2_lut (.A(n921), .B(\row[7] ), 
            .Z(n2687));
    defparam i2120_2_lut.INIT = "0x8888";
    (* lut_function="(A (B ((D)+!C)+!B !(C))+!A (B (C (D))))", lineinfo="@5(110[81],110[106])" *) LUT4 Mux_31_i2_4_lut (.A(n965), 
            .B(n103), .C(\col[4] ), .D(\row[4] ), .Z(n2));
    defparam Mux_31_i2_4_lut.INIT = "0xca0a";
    (* syn_use_carry_chain=1 *) FD1P3XZ frame_counter_133_164__i2 (.D(frame_counter_2__N_144[1]), 
            .SP(n144), .CK(clk), .SR(GND_net_2), .Q(n2_adj_182));
    defparam frame_counter_133_164__i2.REGSET = "RESET";
    defparam frame_counter_133_164__i2.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+(C))+!A !((C)+!B))" *) LUT4 i2103_3_lut (.A(piece_shape[6]), 
            .B(piece_shape[7]), .C(\col[4] ), .Z(n2683));
    defparam i2103_3_lut.INIT = "0xacac";
    (* lut_function="(A (B+(C))+!A !((C)+!B))" *) LUT4 i2102_3_lut (.A(piece_shape[4]), 
            .B(piece_shape[5]), .C(\col[4] ), .Z(n2682));
    defparam i2102_3_lut.INIT = "0xacac";
    (* lut_function="(A (B))", lineinfo="@5(110[54],110[79])" *) LUT4 i597_2_lut (.A(\row[6] ), 
            .B(\row[7] ), .Z(n965));
    defparam i597_2_lut.INIT = "0x8888";
    FD1P3XZ down_delay_2__I_0 (.D(down_delay_2__N_153[2]), .SP(VCC_net_2), 
            .CK(clk), .SR(GND_net_2), .Q(down_delay[2]));
    defparam down_delay_2__I_0.REGSET = "RESET";
    defparam down_delay_2__I_0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (D)+!B !(C (D)+!C !(D)))+!A (D))" *) LUT4 i1616_3_lut_4_lut (.A(rotate_delay[0]), 
            .B(n144), .C(rotate_delay[1]), .D(rotate_delay[2]), .Z(rotate_delay_2__N_150[2]));
    defparam i1616_3_lut_4_lut.INIT = "0xdf20";
    (* lut_function="(A (B (C))+!A (B))", lineinfo="@5(110[81],110[106])" *) LUT4 i2008_3_lut (.A(\col[4] ), 
            .B(n103), .C(\row[4] ), .Z(n8));
    defparam i2008_3_lut.INIT = "0xc4c4";
    (* lut_function="(A (B (D))+!A ((C)+!B))", lineinfo="@5(96[13],96[57])" *) LUT4 n5_bdd_4_lut_4_lut (.A(\col[4] ), 
            .B(\col[5] ), .C(piece_shape[11]), .D(piece_shape[10]), .Z(n2912));
    defparam n5_bdd_4_lut_4_lut.INIT = "0xd951";
    (* lut_function="(A (B (D))+!A ((C)+!B))", lineinfo="@5(96[13],96[57])" *) LUT4 n5_bdd_4_lut_2_4_lut (.A(\col[4] ), 
            .B(\col[5] ), .C(piece_shape[15]), .D(piece_shape[14]), .Z(n2906));
    defparam n5_bdd_4_lut_2_4_lut.INIT = "0xd951";
    (* lut_function="(!(A (C+(D))+!A (B (C)+!B (C+(D)))))", lineinfo="@5(116[9],116[48])" *) LUT4 rgb_c_4_I_0_4_lut (.A(rgb_c_1_N_161), 
            .B(rgb_c_1_N_160), .C(rgb_c_0_N_165), .D(rgb_c_0_N_167), .Z(rgb_c_4));
    defparam rgb_c_4_I_0_4_lut.INIT = "0x040f";
    (* lut_function="(A (B (C (D))))", lineinfo="@5(110[54],110[79])" *) LUT4 i3_3_lut_4_lut (.A(\row[5] ), 
            .B(\row[6] ), .C(\row[7] ), .D(\row[8] ), .Z(vsync_c_N_171));
    defparam i3_3_lut_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C)))", lineinfo="@5(110[54],110[79])" *) LUT4 i2117_2_lut_3_lut (.A(\row[5] ), 
            .B(\row[6] ), .C(\row[7] ), .Z(n103));
    defparam i2117_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(D))+!A !(D)))", lineinfo="@5(122[4],145[11])" *) LUT4 i242_3_lut_4_lut (.A(piece_code[0]), 
            .B(n282[0]), .C(piece_code[1]), .D(piece_code[2]), .Z(piece_shape_15__N_65[2]));
    defparam i242_3_lut_4_lut.INIT = "0x7f80";
    FD1P3XZ down_delay_1__I_0 (.D(down_delay_1__N_154), .SP(VCC_net_2), 
            .CK(clk), .SR(GND_net_2), .Q(down_delay[1]));
    defparam down_delay_1__I_0.REGSET = "RESET";
    defparam down_delay_1__I_0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C)+!B !(C))+!A !(C)))", lineinfo="@5(122[4],145[11])" *) LUT4 i235_2_lut_3_lut (.A(piece_code[0]), 
            .B(n282[0]), .C(piece_code[1]), .Z(piece_shape_15__N_65[1]));
    defparam i235_2_lut_3_lut.INIT = "0x7878";
    (* lut_function="(A (C)+!A (B (C)))", lineinfo="@5(98[39],98[84])" *) LUT4 i267_2_lut_3_lut (.A(piece_loc_y[1]), 
            .B(piece_loc_y[0]), .C(piece_loc_y[2]), .Z(n492));
    defparam i267_2_lut_3_lut.INIT = "0xe0e0";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(D))+!A !(D)))" *) LUT4 i2113_2_lut_3_lut_4_lut (.A(n143), 
            .B(frame_counter[2]), .C(down_delay[0]), .D(down_delay[1]), 
            .Z(down_delay_1__N_154));
    defparam i2113_2_lut_3_lut_4_lut.INIT = "0x7f80";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))+!A !(B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))))" *) LUT4 i1_2_lut_3_lut_4_lut (.A(\row[4] ), 
            .B(piece_loc_y[0]), .C(\col[6] ), .D(\col[5] ), .Z(n1[2]));
    defparam i1_2_lut_3_lut_4_lut.INIT = "0x6996";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=24, LSE_RCOL=35, LSE_LLINE=98, LSE_RLINE=98, lineinfo="@5(122[4],145[11])" *) FD1P3XZ piece_loc_y_2_i0 (.D(piece_loc_y[0]), 
            .SP(VCC_net_2), .CK(game_clock), .SR(GND_net_2), .Q(piece_loc_y_3__N_59[0]));
    defparam piece_loc_y_2_i0.REGSET = "RESET";
    defparam piece_loc_y_2_i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (C)+!A (B (C)+!B !(C))))", lineinfo="@5(98[39],98[84])" *) LUT4 i265_2_lut_3_lut (.A(piece_loc_y[1]), 
            .B(piece_loc_y[0]), .C(piece_loc_y[2]), .Z(n310[2]));
    defparam i265_2_lut_3_lut.INIT = "0x1e1e";
    (* lut_function="(A (D)+!A !(B (C (D)+!C !(D))+!B !(D)))" *) LUT4 i1637_3_lut_4_lut (.A(n144), 
            .B(down_delay[0]), .C(down_delay[1]), .D(down_delay[2]), .Z(down_delay_2__N_153[2]));
    defparam i1637_3_lut_4_lut.INIT = "0xbf40";
    FD1P3XZ rotate_delay_2__I_0 (.D(rotate_delay_2__N_150[2]), .SP(VCC_net_2), 
            .CK(clk), .SR(GND_net_2), .Q(rotate_delay[2]));
    defparam rotate_delay_2__I_0.REGSET = "RESET";
    defparam rotate_delay_2__I_0.SRMODE = "CE_OVER_LSR";
    FD1P3XZ rotate_delay_1__I_0 (.D(rotate_delay_1__N_151), .SP(VCC_net_2), 
            .CK(clk), .SR(GND_net_2), .Q(rotate_delay[1]));
    defparam rotate_delay_1__I_0.REGSET = "RESET";
    defparam rotate_delay_1__I_0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=24, LSE_RCOL=35, LSE_LLINE=98, LSE_RLINE=98, lineinfo="@5(121[3],146[10])" *) FD1P3XZ piece_shape_15__I_31 (.D(piece_shape_15__N_65[2]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(piece_code[2]));
    defparam piece_shape_15__I_31.REGSET = "RESET";
    defparam piece_shape_15__I_31.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=24, LSE_RCOL=35, LSE_LLINE=98, LSE_RLINE=98, lineinfo="@5(121[3],146[10])" *) FD1P3XZ piece_shape_15__I_32 (.D(piece_shape_15__N_65[1]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(piece_code[1]));
    defparam piece_shape_15__I_32.REGSET = "RESET";
    defparam piece_shape_15__I_32.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B ((D)+!C)+!B !(C)))", lineinfo="@5(110[81],110[106])" *) LUT4 i553_4_lut (.A(\row[6] ), 
            .B(\row[5] ), .C(\col[4] ), .D(\row[4] ), .Z(n921));
    defparam i553_4_lut.INIT = "0x8a0a";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=24, LSE_RCOL=35, LSE_LLINE=98, LSE_RLINE=98, lineinfo="@5(121[3],146[10])" *) FD1P3XZ piece_shape_15__I_33 (.D(piece_shape_15__N_65[0]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(piece_code[0]));
    defparam piece_shape_15__I_33.REGSET = "RESET";
    defparam piece_shape_15__I_33.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=24, LSE_RCOL=35, LSE_LLINE=98, LSE_RLINE=98, lineinfo="@5(121[3],146[10])" *) FD1P3XZ piece_shape_15__I_29 (.D(piece_shape_15__N_63[1]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(piece_rotation[1]));
    defparam piece_shape_15__I_29.REGSET = "RESET";
    defparam piece_shape_15__I_29.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=24, LSE_RCOL=35, LSE_LLINE=98, LSE_RLINE=98, lineinfo="@5(122[4],145[11])" *) FD1P3XZ piece_loc_y_2_i3 (.D(\piece_loc_y[3] ), 
            .SP(VCC_net_2), .CK(game_clock), .SR(GND_net_2), .Q(piece_loc_y_3__N_59[3]));
    defparam piece_loc_y_2_i3.REGSET = "RESET";
    defparam piece_loc_y_2_i3.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C (D)+!C !(D)))+!A (B+(C (D)+!C !(D)))))" *) LUT4 i3_4_lut_3_lut_4_lut (.A(\row[4] ), 
            .B(piece_loc_y[0]), .C(\col[6] ), .D(\col[5] ), .Z(n10));
    defparam i3_4_lut_3_lut_4_lut.INIT = "0x2bb2";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=24, LSE_RCOL=35, LSE_LLINE=98, LSE_RLINE=98, lineinfo="@5(121[3],146[10])" *) FD1P3XZ piece_loc_y_3__I_28 (.D(piece_loc_y_3__N_59[0]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(piece_loc_y[0]));
    defparam piece_loc_y_3__I_28.REGSET = "RESET";
    defparam piece_loc_y_3__I_28.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=24, LSE_RCOL=35, LSE_LLINE=98, LSE_RLINE=98, lineinfo="@5(122[4],145[11])" *) FD1P3XZ piece_loc_y_2_i2 (.D(piece_loc_y[2]), 
            .SP(VCC_net_2), .CK(game_clock), .SR(GND_net_2), .Q(piece_loc_y_3__N_59[2]));
    defparam piece_loc_y_2_i2.REGSET = "RESET";
    defparam piece_loc_y_2_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=24, LSE_RCOL=35, LSE_LLINE=98, LSE_RLINE=98, lineinfo="@5(122[4],145[11])" *) FD1P3XZ piece_loc_y_2_i1 (.D(piece_loc_y[1]), 
            .SP(VCC_net_2), .CK(game_clock), .SR(GND_net_2), .Q(piece_loc_y_3__N_59[1]));
    defparam piece_loc_y_2_i1.REGSET = "RESET";
    defparam piece_loc_y_2_i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \col[5]_bdd_4_lut  (.A(\col[5] ), 
            .B(n8), .C(n103), .D(\col[6] ), .Z(n2918));
    defparam \col[5]_bdd_4_lut .INIT = "0xe4aa";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=24, LSE_RCOL=35, LSE_LLINE=98, LSE_RLINE=98, lineinfo="@5(121[3],146[10])" *) FD1P3XZ piece_loc_y_3__I_0 (.D(piece_loc_y_3__N_59[3]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(\piece_loc_y[3] ));
    defparam piece_loc_y_3__I_0.REGSET = "RESET";
    defparam piece_loc_y_3__I_0.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=24, LSE_RCOL=35, LSE_LLINE=98, LSE_RLINE=98, lineinfo="@5(121[3],146[10])" *) FD1P3XZ piece_loc_y_3__I_26 (.D(piece_loc_y_3__N_59[2]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(piece_loc_y[2]));
    defparam piece_loc_y_3__I_26.REGSET = "RESET";
    defparam piece_loc_y_3__I_26.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=24, LSE_RCOL=35, LSE_LLINE=98, LSE_RLINE=98, lineinfo="@5(121[3],146[10])" *) FD1P3XZ piece_loc_y_3__I_27 (.D(piece_loc_y_3__N_59[1]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(piece_loc_y[1]));
    defparam piece_loc_y_3__I_27.REGSET = "RESET";
    defparam piece_loc_y_3__I_27.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C)+!B !((D)+!C))+!A (B (D)+!B (C (D))))", lineinfo="@5(98[10],98[104])" *) LUT4 LessThan_7_i4_4_lut (.A(piece_loc_y[1]), 
            .B(\row[4] ), .C(\row[5] ), .D(piece_loc_y[0]), .Z(n1689));
    defparam LessThan_7_i4_4_lut.INIT = "0xd4a0";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \col[5]_bdd_4_lut_2  (.A(\col[5] ), 
            .B(n2682), .C(n2683), .D(n1[2]), .Z(n2900));
    defparam \col[5]_bdd_4_lut_2 .INIT = "0xe4aa";
    FA2 frame_counter_133_164_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(n2_adj_182), 
        .D0(n2100), .CI0(n2100), .A1(GND_net), .B1(GND_net), .C1(frame_counter[2]), 
        .D1(n3153), .CI1(n3153), .CO0(n3153), .S0(frame_counter_2__N_144[1]), 
        .S1(frame_counter_2__N_144[2]));
    defparam frame_counter_133_164_add_4_3.INIT0 = "0xc33c";
    defparam frame_counter_133_164_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(D))+!A !(D)))" *) LUT4 i2119_2_lut_3_lut_4_lut (.A(rotate_delay[0]), 
            .B(n143), .C(frame_counter[2]), .D(rotate_delay[1]), .Z(rotate_delay_1__N_151));
    defparam i2119_2_lut_3_lut_4_lut.INIT = "0x7f80";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2918_bdd_4_lut (.A(n2918), 
            .B(n2), .C(n2687), .D(\col[6] ), .Z(n2921));
    defparam n2918_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2900_bdd_4_lut (.A(n2900), 
            .B(n2668), .C(n2667), .D(n1[2]), .Z(n2903));
    defparam n2900_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2912_bdd_4_lut (.A(n2912), 
            .B(piece_shape[9]), .C(piece_shape[8]), .D(\col[5] ), .Z(n2915));
    defparam n2912_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1273_2_lut_3_lut (.A(\row[8] ), 
            .B(\row[9] ), .C(rgb_c_1_N_161), .Z(rgb_c_0_N_167));
    defparam i1273_2_lut_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))+!A !(C (D)+!C !(D)))" *) LUT4 i6_4_lut_4_lut (.A(\col[6] ), 
            .B(\col[5] ), .C(n12), .D(\col[7] ), .Z(n2311));
    defparam i6_4_lut_4_lut.INIT = "0x8778";
    (* lineinfo="@5(79[17],79[22])" *) piece piece_device ({piece_shape_15__N_63}, 
            {piece_shape_15__N_65}, {piece_shape}, clk, VCC_net, GND_net);
    (* LSE_LINE_FILE_ID=92, LSE_LCOL=24, LSE_RCOL=35, LSE_LLINE=98, LSE_RLINE=98, lineinfo="@5(121[3],146[10])" *) FD1P3XZ piece_shape_15__I_30 (.D(piece_shape_15__N_63[0]), 
            .SP(VCC_net_2), .CK(clk), .SR(GND_net_2), .Q(piece_rotation[0]));
    defparam piece_shape_15__I_30.REGSET = "RESET";
    defparam piece_shape_15__I_30.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net_2));
    VHI i1 (.Z(VCC_net_2));
    
endmodule

//
// Verilog Description of module piece
//

module piece (input [1:0]piece_shape_15__N_63, input [2:0]piece_shape_15__N_65, 
            output [15:0]piece_shape, input clk, input VCC_net, input GND_net);
    
    (* is_clock=1, lineinfo="@3(86[9],86[12])" *) wire clk;
    
    wire GND_net_2;
    
    (* ECO_MEM_TYPE="EBR", ECO_MEM_ID="\\pattern_gen_portmap/piece_device/mux_3", ECO_MEM_SIZE="[16, 32]", ECO_MEM_BLOCK_SIZE="[16, 256]", ECO_MEM_BLOCK_POS="[0, 0]" *) EBR_B piece_shape_15__I_0 (.RADDR10(GND_net_2), 
            .RADDR9(GND_net_2), .RADDR8(GND_net_2), .RADDR7(GND_net), 
            .RADDR6(GND_net), .RADDR5(GND_net), .RADDR4(piece_shape_15__N_65[2]), 
            .RADDR3(piece_shape_15__N_65[1]), .RADDR2(piece_shape_15__N_65[0]), 
            .RADDR1(piece_shape_15__N_63[1]), .RADDR0(piece_shape_15__N_63[0]), 
            .WADDR10(GND_net_2), .WADDR9(GND_net_2), .WADDR8(GND_net_2), 
            .WADDR7(GND_net), .WADDR6(GND_net), .WADDR5(GND_net), .WADDR4(GND_net), 
            .WADDR3(GND_net), .WADDR2(GND_net), .WADDR1(GND_net), .WADDR0(GND_net), 
            .MASK_N15(GND_net), .MASK_N14(GND_net), .MASK_N13(GND_net), 
            .MASK_N12(GND_net), .MASK_N11(GND_net), .MASK_N10(GND_net), 
            .MASK_N9(GND_net), .MASK_N8(GND_net), .MASK_N7(GND_net), .MASK_N6(GND_net), 
            .MASK_N5(GND_net), .MASK_N4(GND_net), .MASK_N3(GND_net), .MASK_N2(GND_net), 
            .MASK_N1(GND_net), .MASK_N0(GND_net), .WDATA15(GND_net), .WDATA14(GND_net), 
            .WDATA13(GND_net), .WDATA12(GND_net), .WDATA11(GND_net), .WDATA10(GND_net), 
            .WDATA9(GND_net), .WDATA8(GND_net), .WDATA7(GND_net), .WDATA6(GND_net), 
            .WDATA5(GND_net), .WDATA4(GND_net), .WDATA3(GND_net), .WDATA2(GND_net), 
            .WDATA1(GND_net), .WDATA0(GND_net), .RCLKE(VCC_net), .RCLK(clk), 
            .RE(VCC_net), .WCLKE(VCC_net), .WCLK(GND_net), .WE(GND_net), 
            .RDATA15(piece_shape[15]), .RDATA14(piece_shape[14]), .RDATA13(piece_shape[13]), 
            .RDATA12(piece_shape[12]), .RDATA11(piece_shape[11]), .RDATA10(piece_shape[10]), 
            .RDATA9(piece_shape[9]), .RDATA8(piece_shape[8]), .RDATA7(piece_shape[7]), 
            .RDATA6(piece_shape[6]), .RDATA5(piece_shape[5]), .RDATA4(piece_shape[4]), 
            .RDATA3(piece_shape[3]), .RDATA2(piece_shape[2]), .RDATA1(piece_shape[1]), 
            .RDATA0(piece_shape[0]));
    defparam piece_shape_15__I_0.INIT_0 = "0x4620360046203600C8808E0044C0E20088C02E00C440E8000F0044440F004444";
    defparam piece_shape_15__I_0.INIT_1 = "0xFFFFFFFFFFFFFFFF660066006600660046404E004C400E402640C6002640C600";
    defparam piece_shape_15__I_0.INIT_2 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam piece_shape_15__I_0.INIT_3 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam piece_shape_15__I_0.INIT_4 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam piece_shape_15__I_0.INIT_5 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam piece_shape_15__I_0.INIT_6 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam piece_shape_15__I_0.INIT_7 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam piece_shape_15__I_0.INIT_8 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam piece_shape_15__I_0.INIT_9 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam piece_shape_15__I_0.INIT_A = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam piece_shape_15__I_0.INIT_B = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam piece_shape_15__I_0.INIT_C = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam piece_shape_15__I_0.INIT_D = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam piece_shape_15__I_0.INIT_E = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam piece_shape_15__I_0.INIT_F = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam piece_shape_15__I_0.DATA_WIDTH_W = "16";
    defparam piece_shape_15__I_0.DATA_WIDTH_R = "16";
    VLO i1 (.Z(GND_net_2));
    
endmodule
